* {
  margin: 0px;
  padding: 0px;
}
#wrapper header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  padding: 0px 150px;
  position: relative;
}
#wrapper header nav {
  padding: 0px;
}
#wrapper header nav .container-fluid {
  padding: 75px 0px;
}
#wrapper header nav .container-fluid ul {
  margin: 0px;
  padding: 0px;
}
#wrapper header nav .container-fluid ul li {
  list-style: none;
}
#wrapper header nav .container-fluid ul li a {
  color: white;
  font-family: 'Alata', sans-serif;
}
#wrapper header #splash_section {
  bottom: 190px;
  left: 150px;
  position: absolute;
}
#wrapper header #splash_section .container {
  border: 2px solid white;
  margin: 0px;
  padding: 0px;
  width: 580px;
}
#wrapper header #splash_section .container h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  margin: auto;
  padding: 40px;
  text-transform: uppercase;
}
#wrapper #leader_in_interactive_vr {
  padding: 100px 150px;
}
#wrapper #leader_in_interactive_vr .container {
  padding: 0px;
  background-color: white;
  position: relative;
}
#wrapper #leader_in_interactive_vr .container .vr_leader {
  padding: 80px 0px 0px 80px;
  background-color: white;
  height: 300px;
  width: 557px;
  position: absolute;
  bottom: -5px;
  right: 0px;
}
#wrapper #leader_in_interactive_vr .container h2 {
  width: 485px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
#wrapper #leader_in_interactive_vr .container p {
  color: #8c8c8c;
  font-family: 'Alata', sans-serif;
  margin: 0px;
  width: 480px;
}
#wrapper #image_section {
  display: flex;
  justify-content: center;
  padding: 100px 150px 150px 150px;
}
#wrapper #image_section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
#wrapper #image_section .container h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  width: 80%;
}
#wrapper #image_section .container button {
  margin-bottom: 50px;
  width: 150px;
}
#wrapper #image_section .container button a {
  color: black;
  font-size: 18px;
  letter-spacing: .6px;
  text-decoration: none;
  text-transform: uppercase;
}
#wrapper #image_section .container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  row-gap: 25px;
  width: 100%;
}
#wrapper #image_section .container ul li {
  list-style: none;
  position: relative;
}
#wrapper #image_section .container ul li a {
  bottom: 30px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  left: 30px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}
#wrapper #image_section .container ul li.earth,
#wrapper #image_section .container ul li.night_arcade,
#wrapper #image_section .container ul li.soccer_team,
#wrapper #image_section .container ul li.grid,
#wrapper #image_section .container ul li.from_up_above,
#wrapper #image_section .container ul li.borealis,
#wrapper #image_section .container ul li.curiosity,
#wrapper #image_section .container ul li.fisheye {
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 23%;
}
#wrapper #image_section .container ul li.earth {
  background-image: url(../images/desktop/image-deep-earth.jpg);
}
#wrapper #image_section .container ul li.night_arcade {
  background-image: url(../images/desktop/image-night-arcade.jpg);
}
#wrapper #image_section .container ul li.soccer_team {
  background-image: url(../images/desktop/image-soccer-team.jpg);
}
#wrapper #image_section .container ul li.grid {
  background-image: url(../images/desktop/image-grid.jpg);
}
#wrapper #image_section .container ul li.grid h3 {
  width: 80px;
}
#wrapper #image_section .container ul li.from_up_above {
  background-image: url(../images/desktop/image-from-above.jpg);
}
#wrapper #image_section .container ul li.borealis {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
}
#wrapper #image_section .container ul li.curiosity {
  background-image: url(../images/desktop/image-curiosity.jpg);
}
#wrapper #image_section .container ul li.fisheye {
  background-image: url(../images/desktop/image-fisheye.jpg);
}
#wrapper footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 80px 150px;
}
#wrapper footer #left_nav_section nav {
  margin-top: 25px;
}
#wrapper footer #left_nav_section nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 500px;
}
#wrapper footer #left_nav_section nav ul li {
  list-style: none;
}
#wrapper footer #left_nav_section nav ul li a {
  color: white;
  text-decoration: none;
}
#wrapper footer #right_nav_section #social_media {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}
#wrapper footer #right_nav_section p {
  font-family: 'Alata', sans-serif;
  margin-top: 25px;
  color: grey;
}
@media screen and (max-width: 375px) {
  #wrapper header {
    background-image: url(../images/mobile/image-hero.jpg);
    padding: 35px;
  }
  #wrapper header nav .container-fluid {
    margin-top: 30px;
    padding: 0px;
  }
  #wrapper header #splash_section {
    bottom: 330px;
    left: 35px;
  }
  #wrapper header #splash_section .container {
    width: 300px;
  }
  #wrapper header #splash_section .container h1 {
    font-size: 40px;
    padding: 10px;
    width: 100%;
  }
  #wrapper #leader_in_interactive_vr {
    display: flex;
    padding: 35px;
  }
  #wrapper #leader_in_interactive_vr .container img {
    margin-top: 50px;
    width: 100%;
  }
  #wrapper #leader_in_interactive_vr .container .vr_leader {
    margin-top: 50px;
    padding: 0px;
    position: static;
    text-align: center;
    width: 100%;
  }
  #wrapper #leader_in_interactive_vr .container .vr_leader h2 {
    font-size: 32px;
    width: 100%;
  }
  #wrapper #leader_in_interactive_vr .container .vr_leader p {
    width: 100%;
  }
  #wrapper #image_section {
    flex-direction: column;
    padding: 20px 35px 50px 35px;
    width: 100%;
  }
  #wrapper #image_section .container {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }
  #wrapper #image_section .container h2 {
    font-size: 32px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  #wrapper #image_section .container button {
    border: 1px solid grey;
    margin: auto;
    order: 9;
    padding: 5px;
  }
  #wrapper #image_section .container ul li a {
    bottom: 15px;
  }
  #wrapper #image_section .container ul li.earth,
  #wrapper #image_section .container ul li.night_arcade,
  #wrapper #image_section .container ul li.soccer_team,
  #wrapper #image_section .container ul li.grid,
  #wrapper #image_section .container ul li.from_up_above,
  #wrapper #image_section .container ul li.borealis,
  #wrapper #image_section .container ul li.curiosity,
  #wrapper #image_section .container ul li.fisheye {
    height: 112px;
    margin: 0px;
    width: 100%;
  }
  #wrapper #image_section .container ul li.earth h3,
  #wrapper #image_section .container ul li.night_arcade h3,
  #wrapper #image_section .container ul li.soccer_team h3,
  #wrapper #image_section .container ul li.grid h3,
  #wrapper #image_section .container ul li.from_up_above h3,
  #wrapper #image_section .container ul li.borealis h3,
  #wrapper #image_section .container ul li.curiosity h3,
  #wrapper #image_section .container ul li.fisheye h3 {
    font-size: 18px;
    width: 105px;
  }
  #wrapper #image_section .container ul li.earth {
    background-image: url(../images/mobile/image-deep-earth.jpg);
  }
  #wrapper #image_section .container ul li.night_arcade {
    background-image: url(../images/mobile/image-night-arcade.jpg);
  }
  #wrapper #image_section .container ul li.soccer_team {
    background-image: url(../images/mobile/image-soccer-team.jpg);
  }
  #wrapper #image_section .container ul li.grid {
    background-image: url(../images/mobile/image-grid.jpg);
  }
  #wrapper #image_section .container ul li.grid h3 {
    width: 100px;
  }
  #wrapper #image_section .container ul li.from_up_above {
    background-image: url(../images/mobile/image-from-above.jpg);
  }
  #wrapper #image_section .container ul li.borealis {
    background-image: url(../images/mobile/image-pocket-borealis.jpg);
  }
  #wrapper #image_section .container ul li.curiosity {
    background-image: url(../images/mobile/image-curiosity.jpg);
  }
  #wrapper #image_section .container ul li.fisheye {
    background-image: url(../images/desktop/image-fisheye.jpg);
  }
  #wrapper footer {
    flex-direction: column;
    padding: 50px;
  }
  #wrapper footer #left_nav_section {
    margin: auto;
  }
  #wrapper footer #left_nav_section nav {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #wrapper footer #left_nav_section nav ul {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #wrapper footer #left_nav_section nav ul li {
    padding: 10px 0px;
  }
  #wrapper footer #right_nav_section {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }
  #wrapper footer #right_nav_section #social_media {
    justify-content: center;
  }
}
@media screen and (min-width: 376px) and (max-width: 600px) {
  #wrapper header {
    background-image: url(../images/mobile/image-hero.jpg);
    padding: 35px;
  }
  #wrapper header nav .container-fluid {
    margin-top: 30px;
    padding: 0px;
  }
  #wrapper header #splash_section {
    bottom: 330px;
    left: 35px;
  }
  #wrapper header #splash_section .container {
    width: 300px;
  }
  #wrapper header #splash_section .container h1 {
    font-size: 40px;
    padding: 10px;
    width: 100%;
  }
  #wrapper #leader_in_interactive_vr {
    display: flex;
    padding: 35px;
  }
  #wrapper #leader_in_interactive_vr .container img {
    margin-top: 50px;
    width: 100%;
  }
  #wrapper #leader_in_interactive_vr .container .vr_leader {
    margin-top: 50px;
    padding: 0px;
    position: static;
    text-align: center;
    width: 100%;
  }
  #wrapper #leader_in_interactive_vr .container .vr_leader h2 {
    font-size: 32px;
    width: 100%;
  }
  #wrapper #leader_in_interactive_vr .container .vr_leader p {
    width: 100%;
  }
  #wrapper #image_section {
    flex-direction: column;
    padding: 20px 35px 50px 35px;
    width: 100%;
  }
  #wrapper #image_section .container {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }
  #wrapper #image_section .container h2 {
    font-size: 32px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  #wrapper #image_section .container button {
    border: 1px solid grey;
    margin: auto;
    order: 9;
    padding: 5px;
  }
  #wrapper #image_section .container ul li a {
    bottom: 15px;
  }
  #wrapper #image_section .container ul li.earth,
  #wrapper #image_section .container ul li.night_arcade,
  #wrapper #image_section .container ul li.soccer_team,
  #wrapper #image_section .container ul li.grid,
  #wrapper #image_section .container ul li.from_up_above,
  #wrapper #image_section .container ul li.borealis,
  #wrapper #image_section .container ul li.curiosity,
  #wrapper #image_section .container ul li.fisheye {
    height: 112px;
    margin: 0px;
    width: 100%;
  }
  #wrapper #image_section .container ul li.earth h3,
  #wrapper #image_section .container ul li.night_arcade h3,
  #wrapper #image_section .container ul li.soccer_team h3,
  #wrapper #image_section .container ul li.grid h3,
  #wrapper #image_section .container ul li.from_up_above h3,
  #wrapper #image_section .container ul li.borealis h3,
  #wrapper #image_section .container ul li.curiosity h3,
  #wrapper #image_section .container ul li.fisheye h3 {
    font-size: 18px;
    width: 105px;
  }
  #wrapper #image_section .container ul li.earth {
    background-image: url(../images/mobile/image-deep-earth.jpg);
  }
  #wrapper #image_section .container ul li.night_arcade {
    background-image: url(../images/mobile/image-night-arcade.jpg);
  }
  #wrapper #image_section .container ul li.soccer_team {
    background-image: url(../images/mobile/image-soccer-team.jpg);
  }
  #wrapper #image_section .container ul li.grid {
    background-image: url(../images/mobile/image-grid.jpg);
  }
  #wrapper #image_section .container ul li.grid h3 {
    width: 100px;
  }
  #wrapper #image_section .container ul li.from_up_above {
    background-image: url(../images/mobile/image-from-above.jpg);
  }
  #wrapper #image_section .container ul li.borealis {
    background-image: url(../images/mobile/image-pocket-borealis.jpg);
  }
  #wrapper #image_section .container ul li.curiosity {
    background-image: url(../images/mobile/image-curiosity.jpg);
  }
  #wrapper #image_section .container ul li.fisheye {
    background-image: url(../images/desktop/image-fisheye.jpg);
  }
  #wrapper footer {
    flex-direction: column;
    padding: 50px;
  }
  #wrapper footer #left_nav_section {
    margin: auto;
  }
  #wrapper footer #left_nav_section nav {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #wrapper footer #left_nav_section nav ul {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #wrapper footer #left_nav_section nav ul li {
    padding: 10px 0px;
  }
  #wrapper footer #right_nav_section {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }
  #wrapper footer #right_nav_section #social_media {
    justify-content: center;
  }
}
