<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sunnyside Landing Page</title>
        <link rel="stylesheet" href="../assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="wrapper"> 
            <header>
                <nav class="navbar navbar-expand-lg pt-3 pb-0">
                    <div class="container-fluid">
                        <a href="javascript:void(0)"><img class="mx-3" src="../assets/images/logo.svg" alt="Sunnyside logo"></a>
                        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
                        aria-controls="navMenu" aria-expanded="false">
                        <img src="../assets/images/icon-hamburger.svg" alt="Icon Menu">
                        </button>
                        <ul class="collapse navbar-collapse justify-content-end" id="navMenu">
                            <li><a class="nav-link mt-5 mt-lg-0" href="javascript:void(0)">About</a></li>
                            <li><a class="nav-link" href="javascript:void(0)">Services</a></li>
                            <li><a class="nav-link" href="javascript:void(0)">Projects</a></li>
                            <li><a class="nav-link contact mb-4 mb-lg-0" href="javascript:void(0)">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </header>

            <section id="header_text">
                <h1>We are creatives</h1>
                <img src="../assets/images/icon-arrow-down.svg" alt="Icon Arrow Down">
            </section>
        
            <section id="transform_your_brand_section">
                <div id="transform_your_brand">
                    <h2>Transform your brand</h2>
                    <p >We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.</p>
                    <a href="javascript:void(0)">Learn More</a>
                </div>
                <img src="../assets/images/desktop/image-transform.jpg" alt="Egg">
            </section>

            <section id="stand_out_section">
                <img src="../assets/images/desktop/image-stand-out.jpg" alt="Pink Cup">
                <div id="stand_out">
                    <h2>Stand out to the right audience</h2>
                    <p>Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.</p>
                    <a href="javascript:void(0)">Learn More</a>
                </div>
            </section>

            <section id="cherry_orange_section">
                <div id="graphic_design_container">
                    <h2>Graphic Design</h2>
                    <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p>
                </div>
                
                <div id="photography_container">
                    <h2>Photography</h2>
                    <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
                </div>
            </section>

            <section id="testimonials_container">
                <h3>Client Testimonials</h3> 
                <ul>
                    <li>
                        <img src="../assets/images/image-emily.jpg" alt="Emily R.">
                        <p>We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
                        <h5>Emily R.</h5>
                        <p class="work_position">Marketing Director</p>
                    </li>
                    <li>
                        <img src="../assets/images/image-thomas.jpg" alt="Thomas S.">
                        <p>Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.</p>
                        <h5>Thomas S.</h5>
                        <p class="work_position">Chief Operating Officer</p>
                    </li>
                    <li>
                        <img src="../assets/images/image-jennie.jpg" alt="Jennie F.">
                        <p>Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</p>
                        <h5>Jennie F.</h5>
                        <p class="work_position">Business Owner</p>
                    </li>
                </ul>
            </section>

            <div id="images_container">
                <div id="milkbottles_image"></div>
                <div id="orange_image"></div>
                <div id="cone_image"></div>
                <div id="sugarcubes_image"></div>
            </div>

            <footer>
                <a href="javascript:void(0)"><img src="../assets/images/logo.svg" alt="Sunnyside Logo"></a>
                <ul>
                    <li><a href="javascript:void(0)">About</a></li>
                    <li><a href="javascript:void(0)">Services</a></li>
                    <li><a href="javascript:void(0)">Projects</a></li>
                </ul>
                <ul id="nav_icon">
                    <li><a href="javascript:void(0)"><img class="icon" src="../assets/images/icon-facebook.svg" alt="facebook"></a></li>
                    <li><a href="javascript:void(0)"><img class="icon" src="../assets/images/icon-instagram.svg" alt="instagram"></a></li>
                    <li><a href="javascript:void(0)"><img class="icon" src="../assets/images/icon-twitter.svg" alt="twitter"></a></li>
                    <li><a href="javascript:void(0)"><img class="icon" src="../assets/images/icon-pinterest.svg" alt="pinterest"></a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>