*{
    margin: 0 auto;
    padding: 0px;
}

#wrapper{
    padding: 150px;
    .container{
        background-color: #c4c4c4;
        padding: 20px;
        width: 30%;
        #form_section{
            margin-bottom: 15px;
            #todo_list{
                display: flex;
                justify-content: center;
                width: 75%;
                input{
                    border: none;
                    margin: 0px;
                    padding: 5px;
                    width: 100%;
                }
                button{
                    background-color: #569AFF;
                    border: none;
                    color: white;
                    margin-left: 5px;
                    padding: 10px;
                }
            }
        }
        #todo_list_section{
            .container{
                width: 75%;
                h1{
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        background-color: white;
                        list-style: none;
                        margin-bottom: 10px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}