#state_table{
    border-collapse: separate;
    border-spacing: 10px 10px;
}
td{
    background-color: gray;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
#get_coordinates_btn, #render_table_btn{
    display: flex;
    justify-content: center;
    background-color: #2f80ed;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
}
#state_array{
    border: 1px solid black;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    width: 177px;
    resize: none;
}
.active_tile{
    background-color: #219653;
}
.hidden{
    display: none;
}