* {
  margin: 0 auto;
  padding: 0px;
}
#wrapper {
  padding: 150px;
}
#wrapper .container {
  background-color: #c4c4c4;
  padding: 20px;
  width: 30%;
}
#wrapper .container #add_todo_form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
#wrapper .container #add_todo_form input {
  border: none;
  margin: 0px;
  padding: 5px;
  width: 100%;
}
#wrapper .container #add_todo_form .border_red {
  border: 1px solid red;
}
#wrapper .container #add_todo_form button {
  background-color: #569AFF;
  border: none;
  color: white;
  margin-left: 5px;
  padding: 10px;
  width: 80px;
}
#wrapper .container h1 {
  margin-bottom: 20px;
}
#wrapper .container ul li {
  background-color: white;
  list-style: none;
  margin-bottom: 10px;
  padding: 5px;
}
