@keyframes slide-out {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(0%);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 500px;
  justify-content: center;
  margin: auto;
  width: 400px;
}
form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  /* Input Search*/
}
form h3 {
  margin: 20px 0px 0px;
  width: 100%;
  color: lightgrey;
}
form .checkbox,
form .radio {
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 100%;
  padding: 0px 30px;
}
form .checkbox input[type=checkbox],
form .radio input[type=checkbox],
form .checkbox input[type=radio],
form .radio input[type=radio] {
  transform: scale(2);
}
form .checkbox .label_checkbox,
form .radio .label_checkbox,
form .checkbox .label_radio,
form .radio .label_radio {
  margin: 15px 15px;
}
form #checkbox_radio {
  margin-top: 65px;
  width: 100%;
  cursor: pointer;
}
form .input_search {
  background: none;
  border-radius: 8px;
  border: 2px solid darkgrey;
  font-size: 18px;
  height: 50px;
  padding: 20px;
  position: absolute;
  top: -12px;
  width: 100%;
}
form .input_search:focus {
  border-color: black;
}
form .input_search:focus + .label_search {
  animation: slide-out 0.2s;
}
form .input_search:valid + .label_search {
  animation: slide-out 0.2s;
}
form .label_search {
  left: 12px;
  position: absolute;
  color: lightgrey;
  font-size: 24px;
  cursor: text;
}
form .input_checkbox:focus + .label_checkbox {
  color: #4FC3F7;
}
form .input_checkbox:valid + .label_checkbox {
  color: #4FC3F7;
}
form .label_checkbox {
  cursor: pointer;
}
