<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exam</title>
        <link rel="stylesheet" href="../assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Alata&family=Mulish&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Josefin+Sans">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Mulish&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="wrapper">
            <section id="splash_section">
                <header>
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <a href="javascript:void(0)"><img src="../assets/images/logo.svg" alt="Loop Studios"></a>
                            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
                            aria-controls="navMenu" aria-expanded="false">
                            <img src="../assets/images/icon-hamburger.svg" alt="Icon Menu">
                            </button>
                            <ul class="collapse navbar-collapse justify-content-end" id="navMenu">
                                <li><a class="nav-link" href="javascript:void(0)">About</a></li>
                                <li><a class="nav-link" href="javascript:void(0)">Careers</a></li>
                                <li><a class="nav-link" href="javascript:void(0)">Events</a></li>
                                <li><a class="nav-link" href="javascript:void(0)">Products</a></li>
                                <li><a class="nav-link" href="javascript:void(0)">Support</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <div class="container">
                    <h1>Immersive Experiences that delivers</h1>
                </div>
            </section>

            <section id="leader_in_interactive_vr">
                <img src="../assets/images/desktop/image-interactive.jpg" alt="Interactive">
                <div class="container">
                    <h2>The leader in interactive VR</h2>
                    <p>Founded in 2011, Loopstudios has been producing world-class virtual reality 
                        projects for some of the best companies around the globe. Our award-winning 
                        creations have transformed businesses through digital experiences that bind 
                        to their brand.
                    </p>
                </div>
            </section>
                
            <section id="image_section">
                <div class="container">
                    <h2>Our Creations</h2>
                    <button>See All</button>
                    <ul>
                        <li class="earth">
                            <a href=""><h3>Deep earth</h3></a>
                        </li>
                        <li class="night_arcade">
                            <a href=""><h3>Night arcade</h3></a>
                        </li>
                        <li class="soccer_team">
                            <a href=""><h3>Soccer team VR</h3></a>
                        </li>
                        <li class="grid">
                            <a href=""><h3>The grid</h3></a>
                        </li>
                        <li class="from_up_above">
                            <a href=""><h3>From up above VR</h3></a>
                        </li>
                        <li class="borealis">
                            <a href=""><h3>Pocket borealis</h3></a>
                        </li>
                        <li class="curiosity">
                            <a href=""><h3>The curiosity</h3></a>
                        </li>
                        <li class="fisheye">
                            <a href=""><h3>Make it fisheye</h3></a>
                        </li>
                    </ul>
                </div>
            </section>
            
            <footer>
                <div id="left_section">
                    <a href="#"><img src="../assets/images/logo.svg" alt="Loop Studios Logo"></a>
                    <nav>
                        <a href="javascript:void(0)">About</a>
                        <a href="javascript:void(0)">Careers</a>
                        <a href="javascript:void(0)">Events</a>
                        <a href="javascript:void(0)">Producs</a>
                        <a href="javascript:void(0)">Support</a>
                    </nav>
                </div>
                <div id="right_section">
                    <div id="social_media">
                        <a href="javascript:void(0)"><img src="../assets/images/icon-facebook.svg" alt="Facebook"></a>
                        <a href="javascript:void(0)"><img src="../assets/images/icon-twitter.svg" alt="Twitter"></a>
                        <a href="javascript:void(0)"><img src="../assets/images/icon-pinterest.svg" alt="Pinterest"></a>
                        <a href="javascript:void(0)"><img src="../assets/images/icon-instagram.svg" alt="Instagram"></a>
                    </div>
                    <p>2021 Loopstudios. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </body>
</html>