<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UX Elements/Checkboxes and Radio</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <form >
        
        <section class="content_name search">
            <span class="input input--search">
                <input class="input_field input_field--search" type="text" id="input_search" required/>
                <label class="input_label input_label--search" for="input_search">
                    <span class="input_label-content input_label-content--search">Type to search...</span>
                </label>
            </span>
        </section>
     
            <h3>Security</h3>

            <section class="content_name checkbox">
                <span class="input input--checkbox">
                    <input class="input_field input_field--checkbox" type="checkbox" id="input_checkbox" required/>
                    <label class="input_label input_label--checkbox" for="input_checkbox">
                        <span class="input_label-content input_label-content--checkbox">Checkbox</span>
                    </label>
                </span>
            </section>

            <section class="content_name encrypt_wsa">
                <span class="input input--encrypt_wsa">
                    <input class="input_field input_field--encrypt_wsa" type="checkbox" id="encrypt_wsa" required/>
                    <label class="input_label input_label--encrypt_wsa" for="encrypt_wsa">
                        <span class="input_label-content input_label-content--encrypt_wsa">Encrypt WSA</span>
                    </label>
                </span>
            </section>

            <section class="content_name third_option">
                <span class="input input--third_option">
                    <input class="input_field input_field--third_option" type="checkbox" id="third_option" required/>
                    <label class="input_label input_label--third_option" for="third_option">
                        <span class="input_label-content input_label-content--third_option">Third option</span>
                    </label>
            </span>
            </section>

            <h3>Access</h3>

            <section class="content_name private">
                <span class="input input--private">
                    <input class="input_field input_field--private" type="radio" id="private" name="radio_1" required/>
                    <label class="input_label input_label--private" for="private">
                        <span class="input_label-content input_label-content--private">Private (Only Me)</span>
                    </label>
                </span>
            </section>

            <section class="content_name public">
                <span class="input input--public">
                    <input class="input_field input_field--public" type="radio" id="public" name="radio_1" required/>
                    <label class="input_label input_label--public" for="public">
                        <span class="input_label-content input_label-content--public">Public</span>
                    </label>
                </span>
            </section>
    </form>
</body>
</html>