<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fresh Start Fund Page Activity</title>
        <link rel="stylesheet" href="../assets/css/styles.css">
        <link rel="stylesheet" href="https://fonts.adobe.com/fonts/proxima-noval">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Mulish">
    </head>
    <body>
        <div id="wrapper">
            <section id="splash_section">
                <div class="container">
                    <span>Coding Dojo Scholarship</span>
                    <h1>Fresh Start Fund</h1>
                    <p id="email_address">Enter your email address to get started.</p>
                    <form action="for_scholarship">
                        <input type="email" name="email" placeholder="Enter Email Address">
                        <button type="submit">Apply Now</button>
                    </form>
                    <p id="policy">By submitting this form, you agree to our <a href="#">Privacy Policy</a> and <a href="#">Site Terms</a>.</p>
                </div>
            </section>

            <section id="qualifying_steps">
                <h2>How to Qualify for the Fresh Start Fund</h2>
                <p>We're here to help and we want to hear from you! Submit your scholarship essay to start the process.</p>
                <ul>
                    <li>
                        <img src="../assets/image/Scholarship_Illustration.png" alt="Scholarship Illustration">
                        <p>Submit your <span>Scholarship Essay</span></p>
                    </li>
                    <li>
                        <img src="../assets/image/Review_Illustration.png" alt="Review Illustration">
                        <p>We'll review your essay <span>within 48 hours</span></p>
                    </li>
                    <li>
                        <img src="../assets/image/Proof_of_Income_Illustration.png" alt="Proof of Income Illustration">
                        <p id="proof_of_income">If approved, you'll provide <span>proof of income</span></p>
                    </li>
                </ul>
            </section>
                
            <section id="awarded_funds">
                <h2>How Funds are Awarded</h2>
                <p>Funds will be given out based on income level and the program you select.</p>
                <ul>
                    <li>
                        <img src="../assets/image/full_time_clock.png" alt="Full Time Clock">
                        <h3>Full-time Awards Up to $1500</h3>
                        <span>for incomes under $40k/yr.</span>
                    </li>
                    <li>
                        <img src="../assets/image/part_time_clock.png" alt="Part Time Clock">
                        <h3>Part-time Awards Up to $1000</h3>
                        <span>for incomes under $40k/yr.</span>
                    </li>
                </ul>
            </section>

            <footer>
                <h2>What are you waiting for?</h2>
                <p>Let's get started</p>
                <form action="for_scholarship">
                    <input type="email" name="email" placeholder="Enter Email Address">
                    <button type="submit">Apply Now</button>
                </form>
            </footer>
        </div>
    </body>
</html>