*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    #splash_section{
        align-items: center;
        background-image: url(../image/CD_fresh_start_page_hero-4\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 485px;
        justify-content: center;
        .container{
            margin-top: -23px;
            padding: 0px 144px;
            width: 1150px;
            span, h1, p, a{
                color: white;
                font-family: "Proxima Nova", sans-serif;
                letter-spacing: .6px;
            }
            span{
                font-size: 16px;
                font-style: normal;
                font-weight: bold;
                line-height: 16px;
                text-transform: uppercase;
            }
            h1{
                font-size: 60px;
                font-weight: bold;
                margin: 18px 0px 16px 0px;
            }
            p{
                &#email_address{
                    font-size: 20px;
                    font-weight: normal;
                    margin-bottom: 33px;
                }
                &#policy{
                    font-size: 10px;
                    opacity: .8;
                    a{
                        text-decoration: underline 1.5px solid white;
                    }
                }
            }
            form{
                margin-bottom: 24px;
                input{
                    border-radius: 8px;
                    border: 2px solid lightgrey;
                    box-sizing: border-box;
                    height: 54px;
                    letter-spacing: .2px;
                    text-indent: 23px;
                    width: 271px;
                    &::placeholder{
                        font-family: 'Mulish', sans-serif;
                        font-size: 16px;
                        font-weight: normal;
                        letter-spacing: .2px;
                    }
                }
                button{
                    background-color: #05AAE1;
                    border-radius: 2px;
                    border: none;
                    box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
                    color: white;
                    font-family: "Proxima Nova", sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    height: 53.96px;
                    letter-spacing: .6px;
                    margin-left: 8px;
                    width: 246px;
                }
            }
        }
    }
    #qualifying_steps{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 81px 0px 59px 0px;
        h2, p, span{
            color: #333333;
            font-family: "Proxima Nova", sans-serif;
            letter-spacing: .6px;
            text-align: center;
        }
        h2{
            font-size: 40px;
            font-weight: bold;
            margin: 0px;
            width: 100%;
        }
        p{
            font-size: 18px;
            line-height: 27px;
            margin: 14px 0px 69px 0px;
            width: 680px;
        }
        span{
            font-weight: 700;
        }
        ul{
            column-gap: 20  px;
            display: flex;
            text-align: center; 
            li{
                list-style: none;
                padding: 0px 15px;
                width: 270px;
                p{
                    font-family: "Proxima Nova", sans-serif;
                    font-size: 18px;
                    line-height: 124%;
                    margin: auto;
                    width: 198px;
                    &#review_essay{
                        &::after{
                            content: "within 48 hours";
                            display: inline-block;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                    &#proof_of_income{
                        width: 271px;
                        &::after{
                            content: "(recent paystub or equivalent)";
                            display: inline-block;
                            font-size: 18px;
                        }
                        span{
                            display: inline-block;
                            margin: -20px;
                            width: 240px;
                        }
                    }
                    span{
                        display: inline;
                        font-size: 20px;
                        margin-top: -22px;
                        width: 138px;
                    }
                }
                img{
                    margin-bottom: 23px;
                }
            }
        }
    }
    #awarded_funds{
        background-color: #f8faff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 83px 0px 96px 0px;
        h2, p{
            color: #333333;
            font-family: "Proxima Nova", sans-serif;
            letter-spacing: .6px;
            text-align: center;
            width: 100%;
        }
        h2{
            font-size: 40px;
            font-weight: bold;
            margin: 0px;
        }
        p{
            font-size: 18px;
            margin: 18px 0px 64px 0px;
        }
        ul{
            column-gap: 41px;
            display: flex;
            justify-content: center;
            width: 100%;
            li{
                background-color: white;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                height: 160px;
                justify-content: center;
                position: relative;
                width: 406px;
                img{
                    bottom: -221px;
                    height: 67px;
                    left: 45px;
                    position: absolute;
                    top: 43px;
                    width: 67px;
                    z-index: 1;
                }
                h3{
                    font-family: "Proxima Nova", sans-serif;
                    font-size: 20px;
                    line-height: 24px;
                    margin: -10px 0px 0px 140px;
                    width: 45%;
                }
                span{
                    font-family: "Proxima Nova", sans-serif;
                    font-size: 18px;
                    letter-spacing: 1px;
                    margin: 10px 0px 0px 140px;
                }
            }
        }
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 101px 0px 208px 0px;
        h2, p{
            color: #333333;
            font-family: "Proxima Nova", sans-serif;
            letter-spacing: .6px;
            text-align: center;
            width: 100%;
        }
        h2{
            font-size: 42px;
            font-weight: 700;
            margin: 0px;
        }
        p{
            font-size: 24px;
            margin: 26px 0px 41px 0px;
        }
        form{
            column-gap: 22px;
            flex-wrap: wrap;
            justify-content: center;
            input{
                background: #FFFFFF;
                border-radius: 2px;
                border: 1px solid #C4C4C4;
                box-sizing: border-box;
                font-size: 16px;
                height: 65px;
                text-indent: 23px;
                width: 271px;
                &::placeholder{
                    font-family: 'Mulish', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                }
            }
            button{
                background-color: #05AAE1;
                border-radius: 2px;
                border: none;
                box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
                color: white;
                font-size: 16px;
                font-weight: bold;
                height: 65px;
                letter-spacing: .6px;
                margin-left: 8px;
                width: 246px;
            }
        }
    }
}
@media screen and (max-width: 375px){
    #wrapper{
        #splash_section{
            height: 555px;
            padding: 0px 35px;
            .container{
                height: 390px;
                margin-top: 41px;
                padding: 0px;
                width: 100%;
                span{
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                h1{
                    font-size: 42px;
                    line-height: 115.2%;
                    margin: 9px 0px 7px 0px;
                }
                form{
                    max-height: 144px;
                    input, button{
                        border-radius: 2px;
                        font-size: 16px;
                        height: 65px;
                        width: 100%;
                    }
                    button{
                        margin: 14px 0px;
                    }
                }
                p{
                    &#email_address{
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 27px;
                        width: 100%;
                    }
                    &#policy{
                        line-height: 13px;
                        margin-top: -6px;
                        width: 95%;
                        a{
                            text-decoration-color: rgba(255, 255, 255, 0.4);
                            text-decoration: underline 1px solid;
                        }
                    }
                }
            }
        }
        #qualifying_steps{
            padding: 55px 35px 70px 35px;
            img{
                height: 99px;
                width: 99px;
            }
            h2{
                font-size: 26px;
                line-height: 32px;
                width: 100%;
            }
            p{
                font-size: 16px;
                letter-spacing: .6px;
                line-height: 24px;
                margin: 18px 0px 37px 0px;
                width: 100%;
            }
            ul{
                column-gap: 25px;
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 37px;
                width: 87%;
                li{
                    column-gap: 30px;
                    display: flex;
                    flex-direction: row;
                    padding: 0px;
                    width: 300px;
                    img{
                        height: 99px;
                        margin: auto;
                        width: 99px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 20px;
                        width: 127px;
                        span{
                            display: inline-block;
                            font-size: 18px;
                            margin-left: -5px;
                            &::before{
                                content: "\A";
                                white-space: pre;
                            }
                        }
                        &#review_essay{
                            line-height: 22px;
                            &::after{
                                font-size: 18px;
                                margin-left: -4px;
                                width: 137px;
                            }
                        }
                        &#proof_of_income{
                            width: 129px;
                            span{
                                width: 140px;
                            }
                            &::after{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        #awarded_funds{
            padding: 60px 35px 66px 35px;
            h2{
                font-size: 26px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                margin: 17px 0px 34px 0px;
                width: 100%;
            }
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 22px;
                width: 100%;
                li{
                    height: 150px;
                    width: 100%;
                    img{
                        height: 58px;
                        left: 23px;
                        width: 58px;
                    }
                    h3, span{
                        line-height: 22px;
                        margin-left: 105px;
                    }
                    h3{
                        font-size: 18px;
                        margin-top: 6px;
                        width: 50%;
                    }
                    span{
                        font-size: 16px;
                        margin-top: 6px;
                        width: 50%;
                    }
                }
            }
        }
        footer{
            padding: 50px 35px 79px 35px;
            h2{
                font-size: 26px;
                line-height: 32px;
                width: 100%;
            }
            p{
                font-size: 16px;
                margin: 12px 0px 32px 0px;
            }
            form{
                max-height: 143px;
                text-align: center;
                input, button{
                    width: 100%;
                }
                button{
                    color: white;
                    margin: 13px 0px;
                }
            }
        }
    }
}
@media screen and (min-width: 376px) and (max-width: 665px){
    #wrapper{
        #splash_section{
            height: 555px;
            padding: 0px 35px;
            .container{
                margin-top: 58px;
                padding: 0px;
                width: 100%;
                span{
                    font-size: 12px;
                }
                h1{
                    font-size: 42px;
                    line-height: 47px;
                    margin: 11px 0px 9px 0px;
                }
                p{
                    &#email_address{
                        font-size: 18px;
                    }
                    &#policy{
                        line-height: 13px;
                        width: 95%;
                    }
                }
                form{
                    input, button{
                        height: 65px;
                        width: 306px;
                    }
                    button{
                        margin: 14px 0px 10px 0px;
                    }
                }
            }
        }
        #qualifying_steps{
            padding: 60px 35px 60px 35px;
            h2{
                font-size: 26px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                margin: 30px 0px 40px 0px;
                width: 300px;
            }
            ul{
                column-gap: 25px;
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 37px;
                width: 100%;
                li{
                    column-gap: 30px;
                    display: flex;
                    flex-direction: row;
                    padding: 0px;
                    width: 300px;
                    img{
                        height: 99px;
                        margin: auto;
                        width: 99px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 20px;
                        width: 127px;
                        span{
                            display: inline-block;
                            font-size: 18px;
                            margin-left: -5px;
                            &::before{
                                content: "\A";
                                white-space: pre;
                            }
                        }
                        &#review_essay{
                            line-height: 22px;
                            &::after{
                                font-size: 18px;
                                margin-left: -4px;
                                width: 137px;
                            }
                        }
                        &#proof_of_income{
                            width: 129px;
                            span{
                                width: 140px;
                            }
                            &::after{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        #awarded_funds{
            padding: 60px 35px 66px 35px;
            h2{
                font-size: 26px;
            }
            p{
                font-size: 16px;
                line-height: 25px;
                margin: 22px 0px 37px 0px;
            }
            ul{
                flex-wrap: wrap;
                row-gap: 22px;
                li{
                    align-content: center;
                    h3{
                        font-size: 18px;
                        width: 52%;
                    }
                    span{
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 12px;
                    }
                }
            }
        }
        footer{
            padding: 58px 35px 80px 35px;
            h2{
                font-size: 26px;
            }
            p{
                font-size: 16px;
                margin: 24px 0px 32px 0px
            }
            form{
                display: flex;
                row-gap: 13px;
                input, button{
                    width: 100%;
                }
                button{
                    margin: 0px;
                }
            }
        }
    }
}
@media screen and (min-width: 666px) and (max-width: 900px){
    #wrapper{
        #splash_section{
            .container{
                padding: 0px 66px;
            }
        }
        #qualifying_steps{
            padding: 77px 35px 59px 35px;
            ul{
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 37px;
            }
        }
        #awarded_funds{
            padding: 77px 35px 96px 35px;
            ul{
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 22px;
            }
        }
    }
}
@media screen and (min-width: 1500px){
    #wrapper{
        #qualifying_steps{
            p{
                width: 100%;
            }
        }
        #awarded_funds{
            ul{
                li{
                    width: 500px;
                }
            }
        }
    }
}