*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    #splash_section{
        align-items: center;
        background-image: url(../image/CD_fresh_start_page_hero-4\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 485px;
        justify-content: center;
        .container{
            display: flex;
            flex-direction: column;
            padding: 0px 142px;
            height: 282px;
            width: 1150px;
            span, h1, p, a{
                color: white;
                font-family: "Proxima Nova", sans-serif;
            }
            span{
                text-transform: uppercase;
            }
            h1{
                font-size: 60px;
                margin: 10px 0px 18px 0px;
            }
            p{
                &#email_address{
                    font-size: 20px;
                }
                &#policy{
                    font-size: 10px;
                    margin-top: 23.21px;
                    opacity: .8;
                    a{
                        text-decoration: underline 2.1px solid white;
                    }
                }
            }
            form{
                margin-top: 30px;
                input{
                    border-radius: 8px;
                    border: 2px solid lightgrey;
                    box-sizing: border-box;
                    font-family: "Mulish", sans-serif;
                    height: 53.96px;
                    letter-spacing: .2;
                    text-indent: 23px;
                    width: 271px;
                    &::placeholder{
                        opacity: .5;
                    }
                }
                button{
                    background-color: #05AAE1;
                    border-radius: 2px;
                    border: none;
                    box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
                    color: white;
                    height: 53.96px;
                    margin-left: 12px;
                    width: 246px;
                }
            }
        }
    }
    #qualifying_steps{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 77px 0px 59px 0px;
        h2{
            color: #333333;
            font-family: "Proxima Nova", sans-serif;
            font-size: 40px;
            margin: 0px;
            text-align: center;
            width: 100%;
        }
        p{
            color: #333333;
            font-family: "Proxima Nova", sans-serif;
            font-size: 18px;
            letter-spacing: 0.6px;
            line-height: 27px;
            margin: 15px 0px 76px 0px;
            text-align: center;
            width: 690px;
        }
        span{
            font-family: "Proxima Nova", sans-serif;
            font-weight: 700;
        }
        ul{
            column-gap: 16px;
            display: flex;
            text-align: center; 
            li{
                list-style: none;
                padding: 0px 12px;
                width: 270px;
                p{
                    font-family: "Proxima Nova", sans-serif;
                    font-size: 20px;
                    letter-spacing: 0px;
                    line-height: 136%;
                    margin: auto;
                    width: 222px;
                    &#proof_of_income{
                        width: 283px;
                        &::after{
                            content: "(recent paystub or equivalent)";
                            font-size: 18px;
                        }
                    }
                    span{
                        &::after{
                            content: "\A";
                            white-space: pre;
                        }
                    }
                }
                img{
                    margin-bottom: 27px;
                }
            }
        }
    }
    #awarded_funds{
        background-color: #f8faff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 77px 0px;
        h2, p{
            color: #333333;
            font-family: "Proxima Nova", sans-serif;
            text-align: center;
            width: 100%;
        }
        h2{
            font-size: 40px;
            margin: 0px;
        }
        p{
            font-size: 18px;
            letter-spacing: 0.6px;
            margin: 15px 0px 60px 0px;
        }
        ul{
            display: flex;
            justify-content: center;
            column-gap: 41px;
            width: 100%;
            li{
                background-color: white;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 160px;
                position: relative;
                width: 406px;
                img{
                    bottom: -221px;
                    height: 67px;
                    left: 45px;
                    position: absolute;
                    top: 50px;
                    width: 67px;
                    z-index: 1;
                }
                h3{
                    font-family: "Proxima Nova", sans-serif;
                    margin-left: 140px;
                    width: 175px;
                }
                span{
                    font-family: "Proxima Nova", sans-serif;
                    letter-spacing: .3;
                    margin: 10px 0px 0px 140px;
                }
            }
        }
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 95px 0px 209px 0px;
        h2, p{
            color: #333333;
            font-family: "Proxima Nova", sans-serif;
            text-align: center;
            width: 100%;
        }
        h2{
            font-size: 42px;
            font-weight: 700;
            margin: 0px;
        }
        p{
            font-size: 24px;
            margin: 24px 0px 37px 0px;
        }
        form{
            flex-wrap: wrap;
            column-gap: 22px;
            justify-content: center;
            input{
                background: #FFFFFF;
                border-radius: 2px;
                border: 1px solid #C4C4C4;
                box-sizing: border-box;
                height: 65px;
                text-indent: 23px;
                width: 271px;
                &::placeholder{
                    opacity: .5;
                }
            }
            button{
                background-color: #05AAE1;
                border-radius: 2px;
                border: none;
                box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
                color: white;
                height: 65px;
                margin-left: 12px;
                width: 246px;
            }
        }
    }
}
@media screen and (max-width: 375px){
    #wrapper{
        #splash_section{
            height: 555px;
            padding: 0px 35px;
            .container{
                height: 390px;
                margin-top: 45px;
                padding: 0px;
                span{
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                h1{
                    font-size: 42px;
                    margin: 0px 0px 12px 0px;
                }
                form{
                    input, button{
                        border-radius: 2px;
                        height: 65px;
                        width: 306px;
                    }
                    button{
                        margin: 14px 0px;
                    }
                }
                p{
                    &#email_address{
                        font-size: 18px;
                        width: 251px;
                    }
                    &#policy{
                        line-height: 13px;
                        margin-top: 17px;
                        width: 245px;
                        a{
                            text-decoration-color: rgba(255, 255, 255, 0.4);
                            text-decoration: underline 1px solid;
                        }
                    }
                }
            }
        }
        #qualifying_steps{
            padding: 55px 0px 27px 0px;
            img{
                height: 99px;
                width: 99px;
            }
            h2{
                font-size: 26px;
                width: 271px;
            }
            p{
                font-size: 16px;
                margin-bottom: 25px;
                width: 305px;
            }
            ul{
                flex-direction: column;
                li{
                    column-gap: 16px;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 37px;
                    img{
                        margin: 0px;
                    }
                    p{
                        font-size: 16px;
                        width: 120px;
                        span{
                            &::before{
                                content: "\A";
                                white-space: pre;
                            }
                        }
                        &#proof_of_income{
                            width: 124px;
                            &::after{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        #awarded_funds{
            padding: 57px 0px 66px 0px;
            h2{
                font-size: 26px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 25px;
                width: 265px;
            }
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 22px;
                width: 100%;
                li{
                    display: flex;
                    height: 150px;
                    margin: auto;
                    row-gap: 5px;
<<<<<<< HEAD
                    width: 100%;
=======
                    width: 80%;
>>>>>>> f2b74889c0674834e262d1259c7c034e7894255f
                    img{
                        height: 58px;
                        left: 23px;
                        width: 58px;
                    }
                    h3, span{
                        margin: 0px 105px;
                        width: 170px;
                    }
                }
            }
        }
        footer{
            padding: 50px 0px 79px 0px;
            h2{
                font-size: 26px;
                width: 292px;
            }
            p{
                font-size: 16px;
            }
            form{
                text-align: center;
                input{
                    width: 305px;
                }
                button{
                    color: white;
                    margin: 13px 0px;
                    width: 305px;
                }
            }
        }
    }
}
@media screen and (min-width: 376px) and (max-width: 900px){
    #wrapper{
        #splash_section{
            height: 555px;
            padding: 0px 60px;
            .container{
                margin-top: -35px;
                padding: 0px;
                h1{
                    font-size: 48px;
                }
                p{
                    &#email_address{
                        font-size: 18px;
                    }
                }
                form{
                    button{
                        margin: 10px 0px 0px 0px;
                        width: 271px;
                    }
                }
            }
        }
        #qualifying_steps{
            padding: 77px 35px;
            h2{
                font-size: 30px;
            }
            ul{
                column-gap: 25px;
                flex-wrap: wrap;
                row-gap: 40px;
            }
        }
        #awarded_funds{
            padding: 77px 35px;
            h2{
                font-size: 30px;
            }
            ul{
                flex-wrap: wrap;
                row-gap: 22px;
                li{
                    align-content: center;
                }
            }
        }
        footer{
            h2{
                font-size: 30px;
            }
            form{
                display: flex;
                row-gap: 14px;
                button{
                    margin: 0px;
                    width: 271px;
                }
            }
        }
    }
}