<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candy Crush</title>
    <link rel="stylesheet" href="../assets/css/custom/style.css"> 
    <link rel="stylesheet" href="../assets/css/vendor/confirm-box.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <section>
            <div id="splash_section"></div>
        </section>
        <div class="container">
            <table>
                <tr>
                    <td><img src="../assets/images/red_candy.png" alt=""></td>
                    <td><img src="../assets/images/multicolor_candy.png" alt=""></td>
                    <td><img src="../assets/images/orange_candy.png" alt=""></td>
                    <td><img src="../assets/images/red_candy.png" alt=""></td>
                </tr>
                <tr>
                    <td><img src="../assets/images/orange_candy.png" alt=""></td>
                    <td><img src="../assets/images/yellow_candy.png" alt=""></td>
                    <td><img src="../assets/images/red_candy.png" alt=""></td>
                    <td><img src="../assets/images/red_candy.png" alt=""></td>
                </tr>
                <tr>
                    <td><img src="../assets/images/red_candy.png" alt=""></td>
                    <td><img src="../assets/images/red_candy.png" alt=""></td>
                    <td><img src="../assets/images/yellow_candy.png" alt=""></td>
                    <td><img src="../assets/images/yellow_candy.png" alt=""></td>
                </tr>
                <tr>
                    <td><img src="../assets/images/multicolor_candy.png" alt=""></td>
                    <td><img src="../assets/images/orange_candy.png" alt=""></td>
                    <td><img src="../assets/images/yellow_candy.png" alt=""></td>
                    <td><img src="../assets/images/red_candy.png" alt=""></td>
                </tr>
            </table>
        </div>
        <section>
            <div class="btn-container">
                <button id="visitExternalLink" class="button-default link">Reset Game</button>
            </div> 
        </section>
    </div>
    <script src="../assets/js/custom/script.js"></script>
</body>
</html>