<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/custom/app.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <section id="form_section">
                <form id="todo_list">
                    <input type="text" id="todo" name="todo" placeholder="Enter todo">
                    <button type="submit" id="submit">Add</button>
                </form>
            </section>

            <section id="todo_list_section">
                <div class="container">
                    <h1>Todo List</h1>
                    <ul id="list">
                        <li>Eat</li>
                        <li>Code</li>
                        <li>Sleep</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</body>
</html>