@keyframes anim-chisato-1 {
  0%,
  70% {
    transform: translate3d(0, 48px, 0);
  }
  71%,
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes anim-chisato-2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  70%,
  71% {
    opacity: 0;
    transform: translate3d(0, 125%, 0);
  }
  100% {
    color: transparent;
    transform: translate3d(0, 200%, 0);
  }
}
@keyframes anim-fumi-1 {
  50% {
    transform: translate3d(0, 48px, 0);
  }
  51% {
    transform: translate3d(0, -48px, 0) scale3d(0.85, 0.85, 1);
  }
  100% {
    color: #a3a3a3;
    transform: translate3d(0, -18px, 0) scale3d(0.85, 0.85, 1);
  }
}
@keyframes anim-fumi-2 {
  50% {
    opacity: 1;
    transform: translate3d(0, -48px, 0);
  }
  50.25% {
    opacity: 0;
    transform: translate3d(0, -48px, 0);
  }
  50.75% {
    opacity: 0;
    transform: translate3d(0, 48px, 0);
  }
  51% {
    opacity: 1;
    transform: translate3d(0, 48px, 0);
  }
  100% {
    color: #00aeef;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.input {
  display: inline-block;
  margin: 18px;
  max-width: 350px;
  position: relative;
  vertical-align: top;
  width: 100%;
  z-index: 1;
}
.input_field {
  background: #f0f0f0;
  border-radius: 0;
  border: none;
  color: #aaa;
  display: block;
  float: right;
  font-weight: 400;
  padding: 14px;
  position: relative;
  width: 60%;
}
.input_field:focus {
  outline: none;
}
.input_label {
  color: #696969;
  display: inline-block;
  float: right;
  font-size: 24px;
  font-weight: bold;
  padding: 0 18px;
  user-select: none;
  width: 40%;
}
.input_label .input_label_content {
  display: block;
  position: relative;
  width: 100%;
}
.graphic {
  fill: none;
  left: 0;
  position: absolute;
  top: 0;
}
.icon {
  color: #ddd;
  font-size: 150%;
}
/* Manami */
.manami {
  background-color: #E8E8E8;
  padding: 50px;
  text-align: center;
}
.manami h2 {
  font-size: 36px;
  opacity: .1;
}
.manami .input_manami {
  overflow: hidden;
}
.manami .input_field_manami {
  background: transparent;
  color: #f9f7f6;
  font-size: 24px;
  margin-bottom: 36px;
  opacity: 0;
  padding: 8px 12px;
  width: 100%;
  z-index: 100;
}
.manami .input_field_manami:focus {
  opacity: 1;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition: opacity 0s 0.2s;
}
.manami .input_field_manami:focus + .input_label_manami::before {
  transform: translate3d(0, 0, 0);
}
.manami .input_field_manami:focus + .input_label_manami::after {
  opacity: 0;
}
.manami .input_field_manami:focus + .input_label_manami .input_label_content_manami {
  color: #cbc4c6;
  transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}
.manami .input_field_manami:valid {
  opacity: 1;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition: opacity 0s 0.2s;
}
.manami .input_field_manami:valid + .input_label_manami::before {
  transform: translate3d(0, 0, 0);
}
.manami .input_field_manami:valid + .input_label_manami::after {
  opacity: 0;
}
.manami .input_field_manami:valid + .input_label_manami .input_label_content_manami {
  color: #cbc4c6;
  transform: translate3d(0, 46px, 0) scale3d(0.65, 0.65, 1);
}
.manami .input_label_manami {
  font-size: 18px;
  padding: 9px 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  width: 100%;
}
.manami .input_label_manami::before {
  background: #A8A8A8;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0, -100%, 0);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition: transform 0.2s;
  width: 100%;
}
.manami .input_label_manami::after {
  background: #A8A8A8;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition: opacity 0.2s;
  width: 100%;
}
.manami .input_label_manami .input_label_content_manami {
  font-size: 22px;
  padding: 0;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition: transform 0.2s, color 0.2s;
}
/* Chisato */
.chisato {
  background-color: #2F3238;
  padding: 50px;
  text-align: center;
}
.chisato h2 {
  color: lightgrey;
  font-size: 36px;
  opacity: .1;
}
.chisato .input_chisato {
  padding-top: 35px;
}
.chisato .input_chisato .input_field_chisato {
  background: transparent;
  border: 2px solid;
  color: #b5b5b5;
  font-size: 24px;
  height: 70px;
  padding: 8px 12px;
  transition: border-color 0.25s;
  width: 100%;
}
.chisato .input_chisato .input_field_chisato:focus {
  border-color: #da6484;
}
.chisato .input_chisato .input_field_chisato:focus + .input_label_chisato {
  animation: anim-chisato-1 0.25s forwards;
}
.chisato .input_chisato .input_field_chisato:focus + .input_label_chisato .input_label_content_chisato {
  animation: anim-chisato-2 0.25s forwards ease-in;
}
.chisato .input_chisato .input_field_chisato:valid {
  border-color: #da6484;
}
.chisato .input_chisato .input_field_chisato:valid + .input_label_chisato {
  animation: anim-chisato-1 0.25s forwards;
}
.chisato .input_chisato .input_field_chisato:valid + .input_label_chisato .input_label_content_chisato {
  animation: anim-chisato-2 0.25s forwards ease-in;
}
.chisato .input_chisato .input_label_chisato {
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 0;
  transform: translate3d(0, 56px, 0);
  width: 100%;
}
.chisato .input_chisato .input_label_chisato .input_label_content_chisato {
  color: #b5b5b5;
  font-weight: 400;
  padding: 0 18px;
}
.chisato .input_chisato .input_label_chisato .input_label_content_chisato::after {
  color: #da6484;
  content: attr(data-content);
  font-size: 18px;
  font-weight: 800;
  left: 0;
  position: absolute;
  top: -165%;
  z-index: -1;
}
.chisato .input_chisato .input_filled .input_field_chisato {
  border-color: #da6484;
}
.chisato .input_chisato .input_filled .input_label_chisato {
  animation: anim-chisato-1 0.25s forwards;
}
.chisato .input_chisato .input_filled .input_label_content_chisato {
  animation: anim-chisato-2 0.25s forwards ease-in;
}
/* Fumi */
.fumi {
  background-color: #F0EFEE;
  padding: 50px;
  text-align: center;
}
.fumi h2 {
  font-size: 36px;
  color: lightgrey;
}
.fumi .input_fumi {
  background: #fff;
  overflow: hidden;
}
.fumi .input_fumi::after {
  content: '';
  width: 1px;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 90px;
  background: #f0f0f0;
  z-index: 100;
}
.fumi .input_field_fumi {
  background: transparent;
  padding: 30px 18px 4px 110px;
  width: 100%;
  height: 86px;
  font-size: 24px;
  color: #00aeef;
}
.fumi .input_field_fumi:focus + .input_label_fumi .input_label_content_fumi {
  animation: anim-fumi-1 0.3s forwards;
  font-size: 20px;
}
.fumi .input_field_fumi:focus + .input_label_fumi .icon_fumi {
  animation: anim-fumi-2 0.3s forwards;
}
.fumi .input_field_fumi:valid + .input_label_fumi .input_label_content_fumi {
  animation: anim-fumi-1 0.3s forwards;
  font-size: 20px;
}
.fumi .input_field_fumi:valid + .input_label_fumi .icon_fumi {
  animation: anim-fumi-2 0.3s forwards;
}
.fumi .input_label_fumi {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  text-align: left;
  padding-left: 109px;
  pointer-events: none;
}
.fumi .icon_fumi {
  width: 2em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 0 0 22px;
}
.fumi .input_label_content_fumi {
  padding: 11px 0;
  display: inline-block;
  transform-origin: 0 0;
}
.fumi .input_label_content_fumi span {
  display: inline-block;
}
.fumi .input_filled .input_label_content_fumi {
  animation: anim-fumi-1 0.3s forwards;
}
.fumi .input_filled .icon_fumi {
  animation: anim-fumi-2 0.3s forwards;
}
/* Kohana*/
.kohana {
  background-color: #E8E8E8;
  padding: 50px;
  text-align: center;
}
.kohana h2 {
  color: lightgrey;
  font-size: 36px;
}
.kohana .input_kohana {
  background: #fff;
  overflow: hidden;
}
.kohana .input_kohana .input_field_kohana {
  background: transparent;
  color: #6a7989;
  font-size: 24px;
  height: 69px;
  padding-left: 68px;
  width: 100%;
}
.kohana .input_kohana .input_field_kohana:focus + .input_label_kohana .input_label_content_kohana {
  opacity: 0;
  transform: translate3d(100px, 0, 0);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.kohana .input_kohana .input_field_kohana:focus + .input_label_kohana .icon_kohana {
  transform: translate3d(0, 0, 0);
}
.kohana .input_kohana .input_field_kohana:valid + .input_label_kohana .input_label_content_kohana {
  opacity: 0;
  transform: translate3d(100px, 0, 0);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.kohana .input_kohana .input_field_kohana:valid + .input_label_kohana .icon_kohana {
  transform: translate3d(0, 0, 0);
}
.kohana .input_label_kohana {
  align-items: center;
  color: #D2D2D2;
  display: flex;
  height: 100%;
  pointer-events: none;
  position: absolute;
  text-align: left;
  width: 100%;
}
.kohana .input_label_content_kohana {
  display: inline-block;
  transform: translate3d(-36px, 0, 0);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.3s, opacity 0.3s;
  width: auto;
}
.kohana .icon_kohana {
  display: inline-block;
  transform: translate3d(-2em, 0, 0);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.3s;
}
.kohana .input_filled .input_label_content_kohana {
  opacity: 0;
  transform: translate3d(100px, 0, 0);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.kohana .input_filled .icon_kohana {
  transform: translate3d(0, 0, 0);
}
/* Ruri */
.ruri {
  background-color: #2F3238;
  padding: 50px;
  text-align: center;
}
.ruri h2 {
  color: lightgrey;
  font-size: 36px;
  opacity: .1;
}
.ruri .input_field_ruri {
  background: transparent;
  color: #fff;
  margin-bottom: 2em;
  padding: 16px 0 0;
  width: 100%;
  font-size: 24px;
}
.ruri .input_field_ruri:focus + .input_label_ruri::after {
  background: #a3d39c;
  transform: scale3d(1, 0.25, 1);
}
.ruri .input_field_ruri:focus + .input_label_ruri .input_label_content_ruri {
  color: #a3d39c;
  transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
}
.ruri .input_field_ruri:valid + .input_label_ruri::after {
  background: #a3d39c;
  transform: scale3d(1, 0.25, 1);
}
.ruri .input_field_ruri:valid + .input_label_ruri .input_label_content_ruri {
  color: #a3d39c;
  transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
}
.ruri .input_label_ruri {
  font-size: 24px;
  padding: 10px 0 5px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  width: 100%;
}
.ruri .input_label_ruri::after {
  background: #B7C3AC;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  top: 100%;
  transform-origin: 50% 100%;
  transition: transform 0.3s, background-color 0.3s;
  width: 100%;
}
.ruri .input_label_content_ruri {
  padding: 0;
  transform-origin: 0 0;
  transition: transform 0.3s, color 0.3s;
}
