* {
  margin: 0px;
  padding: 0px;
}
#wrapper #splash_section {
  align-items: center;
  background-image: url(../image/CD_fresh_start_page_hero-4\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 485px;
  justify-content: center;
}
#wrapper #splash_section .container {
  height: 282px;
  width: 1150px;
}
#wrapper #splash_section .container span,
#wrapper #splash_section .container h1,
#wrapper #splash_section .container p,
#wrapper #splash_section .container a {
  color: white;
  font-family: "Proxima Nova", sans-serif;
}
#wrapper #splash_section .container span {
  text-transform: uppercase;
}
#wrapper #splash_section .container h1 {
  font-size: 60px;
  margin: 10px 0px 18px 0px;
}
#wrapper #splash_section .container p#email_address {
  font-size: 20px;
}
#wrapper #splash_section .container p#policy {
  font-size: 10px;
  margin-top: 23.21px;
}
#wrapper #splash_section .container p#policy a {
  text-decoration: underline 2.1px solid white;
}
#wrapper #splash_section .container form {
  margin-top: 30px;
}
#wrapper #splash_section .container form input {
  border-radius: 8px;
  border: 2px solid lightgrey;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  height: 53.96px;
  letter-spacing: .2;
  text-indent: 23px;
  width: 271px;
}
#wrapper #splash_section .container form input::placeholder {
  opacity: .5;
}
#wrapper #splash_section .container form button {
  background-color: #05AAE1;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: white;
  height: 53.96px;
  margin-left: 12px;
  width: 246px;
}
#wrapper #qualifying_steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 88px 0px 59px 0px;
}
#wrapper #qualifying_steps h2 {
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  font-size: 40px;
  margin: 0px;
  text-align: center;
  width: 100%;
}
#wrapper #qualifying_steps p {
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  letter-spacing: 0.6px;
  line-height: 27px;
  margin: 15px 0px 76px 0px;
  text-align: center;
  width: 690px;
}
#wrapper #qualifying_steps span {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
}
#wrapper #qualifying_steps ul {
  column-gap: 16px;
  display: flex;
  justify-content: center;
  padding: 0px;
  text-align: center;
}
#wrapper #qualifying_steps ul li {
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0px 12px;
  width: 270px;
}
#wrapper #qualifying_steps ul li p {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 136%;
  margin: auto;
  width: 222px;
}
#wrapper #qualifying_steps ul li p#proof_of_income {
  width: 283px;
}
#wrapper #qualifying_steps ul li p#proof_of_income::after {
  content: "(recent paystub or equivalent)";
  font-size: 18px;
}
#wrapper #qualifying_steps ul li p span::after {
  content: "\A";
  white-space: pre;
}
#wrapper #qualifying_steps ul li img {
  margin-bottom: 27px;
}
#wrapper #awarded_funds {
  background-color: #f8faff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 77px 0px;
}
#wrapper #awarded_funds h2,
#wrapper #awarded_funds p {
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  width: 100%;
}
#wrapper #awarded_funds h2 {
  font-size: 40px;
  margin: 0px;
}
#wrapper #awarded_funds p {
  font-size: 18px;
  letter-spacing: 0.6px;
  margin: 15px 0px 60px 0px;
}
#wrapper #awarded_funds ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#wrapper #awarded_funds ul li {
  align-items: flex-start;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 160px;
  position: relative;
  width: 406px;
}
#wrapper #awarded_funds ul li img {
  bottom: -221px;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 43px;
  width: 67px;
  z-index: 1;
}
#wrapper #awarded_funds ul li h3 {
  font-family: "Proxima Nova", sans-serif;
  margin: 37px 0px 0px 140px;
  width: 175px;
}
#wrapper #awarded_funds ul li span {
  font-family: "Proxima Nova", sans-serif;
  letter-spacing: .3;
  margin: 5px 0px 0px 140px;
}
#wrapper footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 95px 0px 209px 0px;
}
#wrapper footer h2,
#wrapper footer p {
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  width: 100%;
}
#wrapper footer h2 {
  font-size: 42px;
  font-weight: 700;
  margin: 0px;
}
#wrapper footer p {
  font-size: 24px;
  margin: 24px 0px 37px 0px;
}
#wrapper footer form input {
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  height: 65px;
  letter-spacing: .2;
  text-indent: 23px;
  width: 271px;
}
#wrapper footer form input::placeholder {
  opacity: .5;
}
#wrapper footer form button {
  background-color: #05AAE1;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: white;
  height: 65px;
  margin-left: 12px;
  width: 246px;
}
@media only screen and (max-width: 375px) {
  #wrapper #splash_section {
    height: 555px;
    padding: 0px 35px;
  }
  #wrapper #splash_section .container {
    display: flex;
    flex-direction: column;
    height: 390px;
    margin-top: 45px;
  }
  #wrapper #splash_section .container span {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #wrapper #splash_section .container h1 {
    font-size: 42px;
    margin: 0px 0px 12px 0px;
  }
  #wrapper #splash_section .container form input,
  #wrapper #splash_section .container form button {
    border-radius: 2px;
    height: 65px;
    width: 306px;
  }
  #wrapper #splash_section .container form button {
    margin: 14px 0px;
  }
  #wrapper #splash_section .container p#email_address {
    font-size: 18px;
    width: 251px;
  }
  #wrapper #splash_section .container p#policy {
    line-height: 13px;
    margin: 0px;
    width: 245px;
  }
  #wrapper #splash_section .container p#policy a {
    text-decoration: underline 1px solid;
    text-decoration-color: rgba(255, 255, 255, 0.4);
  }
  #wrapper #qualifying_steps {
    padding: 55px 0px 27px 0px;
    width: 100%;
  }
  #wrapper #qualifying_steps img {
    height: 99px;
    width: 99px;
  }
  #wrapper #qualifying_steps h2 {
    font-size: 26px;
    width: 271px;
  }
  #wrapper #qualifying_steps p {
    font-size: 16px;
    margin-bottom: 25px;
    width: 305px;
  }
  #wrapper #qualifying_steps ul {
    flex-direction: column;
  }
  #wrapper #qualifying_steps ul li {
    column-gap: 16px;
    display: flex;
    flex-direction: row;
    margin-bottom: 37px;
  }
  #wrapper #qualifying_steps ul li img {
    margin: 0px;
  }
  #wrapper #qualifying_steps ul li p {
    font-size: 16px;
    width: 120px;
  }
  #wrapper #qualifying_steps ul li p span::before {
    content: "\A";
    white-space: pre;
  }
  #wrapper #qualifying_steps ul li p#proof_of_income {
    width: 124px;
  }
  #wrapper #qualifying_steps ul li p#proof_of_income::after {
    font-size: 14px;
  }
  #wrapper #awarded_funds {
    padding: 57px 0px 66px 0px;
    width: 100%;
  }
  #wrapper #awarded_funds h2 {
    font-size: 26px;
  }
  #wrapper #awarded_funds p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
    width: 242px;
  }
  #wrapper #awarded_funds ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 22px;
    width: 80%;
  }
  #wrapper #awarded_funds ul li {
    display: flex;
    height: 150px;
    justify-content: center;
    row-gap: 5px;
    width: 100%;
    width: 306px;
  }
  #wrapper #awarded_funds ul li img {
    height: 58px;
    left: 23px;
    width: 58px;
  }
  #wrapper #awarded_funds ul li h3,
  #wrapper #awarded_funds ul li span {
    margin: 0px 105px;
    width: 170px;
  }
  #wrapper footer {
    padding: 50px 0px 79px 0px;
    width: 100%;
  }
  #wrapper footer h2 {
    font-size: 26px;
    width: 292px;
  }
  #wrapper footer p {
    font-size: 16px;
  }
  #wrapper footer form {
    text-align: center;
  }
  #wrapper footer form input {
    width: 305px;
  }
  #wrapper footer form button {
    color: white;
    margin: 13px 0px;
    width: 305px;
  }
}
