* {
  margin: 0px;
  padding: 0px;
  outline: 1px dotted red;
}
#wrapper #splash_section {
  align-items: center;
  background-image: url(../image/CD_fresh_start_page_hero-4\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 485px;
  justify-content: center;
}
#wrapper #splash_section .container {
  margin-top: -23px;
  padding: 0px 144px;
  width: 1150px;
}
#wrapper #splash_section .container span,
#wrapper #splash_section .container h1,
#wrapper #splash_section .container p,
#wrapper #splash_section .container a {
  color: white;
  font-family: "Proxima Nova", sans-serif;
  letter-spacing: .6px;
}
#wrapper #splash_section .container span {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}
#wrapper #splash_section .container h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 18px 0px 16px 0px;
}
#wrapper #splash_section .container p#email_address {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 33px;
}
#wrapper #splash_section .container p#policy {
  font-size: 10px;
  opacity: .8;
}
#wrapper #splash_section .container p#policy a {
  text-decoration: underline 1.5px solid white;
}
#wrapper #splash_section .container form {
  margin-bottom: 24px;
}
#wrapper #splash_section .container form input {
  border-radius: 8px;
  border: 2px solid lightgrey;
  box-sizing: border-box;
  height: 54px;
  letter-spacing: .2px;
  text-indent: 23px;
  width: 271px;
}
#wrapper #splash_section .container form input::placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .2px;
}
#wrapper #splash_section .container form button {
  background-color: #05AAE1;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: white;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 53.96px;
  letter-spacing: .6px;
  margin-left: 8px;
  width: 246px;
}
#wrapper #qualifying_steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 81px 0px 59px 0px;
}
#wrapper #qualifying_steps h2,
#wrapper #qualifying_steps p,
#wrapper #qualifying_steps span {
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  letter-spacing: .6px;
  text-align: center;
}
#wrapper #qualifying_steps h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
  width: 100%;
}
#wrapper #qualifying_steps p {
  font-size: 18px;
  line-height: 27px;
  margin: 14px 0px 69px 0px;
  width: 680px;
}
#wrapper #qualifying_steps span {
  font-weight: 700;
}
#wrapper #qualifying_steps ul {
  column-gap: 20  px;
  display: flex;
  text-align: center;
}
#wrapper #qualifying_steps ul li {
  list-style: none;
  padding: 0px 15px;
  width: 270px;
}
#wrapper #qualifying_steps ul li p {
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  line-height: 124%;
  margin: auto;
  width: 198px;
}
#wrapper #qualifying_steps ul li p#proof_of_income {
  width: 271px;
}
#wrapper #qualifying_steps ul li p#proof_of_income::after {
  content: "(recent paystub or equivalent)";
  display: inline-block;
  font-size: 18px;
}
#wrapper #qualifying_steps ul li p#proof_of_income span {
  display: inline-block;
  margin: -20px;
  width: 240px;
}
#wrapper #qualifying_steps ul li p span {
  margin-top: -22px;
  display: inline;
  width: 138px;
}
#wrapper #qualifying_steps ul li img {
  margin-bottom: 23px;
}
#wrapper #awarded_funds {
  background-color: #f8faff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 83px 0px 96px 0px;
}
#wrapper #awarded_funds h2,
#wrapper #awarded_funds p {
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  letter-spacing: .6px;
  text-align: center;
  width: 100%;
}
#wrapper #awarded_funds h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}
#wrapper #awarded_funds p {
  font-size: 18px;
  margin: 18px 0px 64px 0px;
}
#wrapper #awarded_funds ul {
  column-gap: 41px;
  display: flex;
  justify-content: center;
  width: 100%;
}
#wrapper #awarded_funds ul li {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  position: relative;
  width: 406px;
}
#wrapper #awarded_funds ul li img {
  bottom: -221px;
  height: 67px;
  left: 45px;
  position: absolute;
  top: 43px;
  width: 67px;
  z-index: 1;
}
#wrapper #awarded_funds ul li h3 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: -10px 0px 0px 140px;
  width: 45%;
}
#wrapper #awarded_funds ul li span {
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px 0px 0px 140px;
}
#wrapper footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 101px 0px 208px 0px;
}
#wrapper footer h2,
#wrapper footer p {
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  letter-spacing: .6px;
  text-align: center;
  width: 100%;
}
#wrapper footer h2 {
  font-size: 42px;
  font-weight: 700;
  margin: 0px;
}
#wrapper footer p {
  font-size: 24px;
  margin: 26px 0px 41px 0px;
}
#wrapper footer form {
  column-gap: 22px;
  flex-wrap: wrap;
  justify-content: center;
}
#wrapper footer form input {
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  font-size: 16px;
  height: 65px;
  text-indent: 23px;
  width: 271px;
}
#wrapper footer form input::placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
#wrapper footer form button {
  background-color: #05AAE1;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 6px 6px rgba(11, 31, 39, 0.08);
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 65px;
  letter-spacing: .6px;
  margin-left: 8px;
  width: 246px;
}
@media screen and (max-width: 375px) {
  #wrapper #splash_section {
    height: 555px;
    padding: 0px 35px;
  }
  #wrapper #splash_section .container {
    height: 390px;
    margin-top: 41px;
    padding: 0px;
    width: 100%;
  }
  #wrapper #splash_section .container span {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #wrapper #splash_section .container h1 {
    font-size: 42px;
    line-height: 115.2%;
    margin: 9px 0px 7px 0px;
  }
  #wrapper #splash_section .container form {
    max-height: 144px;
  }
  #wrapper #splash_section .container form input,
  #wrapper #splash_section .container form button {
    border-radius: 2px;
    font-size: 16px;
    height: 65px;
    width: 100%;
  }
  #wrapper #splash_section .container form button {
    margin: 14px 0px;
  }
  #wrapper #splash_section .container p#email_address {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 27px;
    width: 100%;
  }
  #wrapper #splash_section .container p#policy {
    line-height: 13px;
    margin-top: -6px;
    width: 95%;
  }
  #wrapper #splash_section .container p#policy a {
    text-decoration-color: rgba(255, 255, 255, 0.4);
    text-decoration: underline 1px solid;
  }
  #wrapper #qualifying_steps {
    padding: 55px 35px 70px 35px;
  }
  #wrapper #qualifying_steps img {
    height: 99px;
    width: 99px;
  }
  #wrapper #qualifying_steps h2 {
    font-size: 26px;
    line-height: 32px;
    width: 100%;
  }
  #wrapper #qualifying_steps p {
    font-size: 16px;
    letter-spacing: .6px;
    line-height: 24px;
    margin: 18px 0px 37px 0px;
    width: 100%;
  }
  #wrapper #qualifying_steps ul {
    flex-direction: column;
    row-gap: 37px;
  }
  #wrapper #qualifying_steps ul li {
    column-gap: 32px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
  }
  #wrapper #qualifying_steps ul li img {
    margin: auto;
  }
  #wrapper #qualifying_steps ul li p {
    font-size: 16px;
    line-height: 22px;
    width: 129px;
  }
  #wrapper #qualifying_steps ul li p span {
    display: inline-block;
    font-size: 18px;
    text-align: center;
  }
  #wrapper #qualifying_steps ul li p span::before {
    content: "\A";
    white-space: pre;
  }
  #wrapper #qualifying_steps ul li p#proof_of_income {
    width: 124px;
  }
  #wrapper #qualifying_steps ul li p#proof_of_income::after {
    font-size: 14px;
  }
  #wrapper #qualifying_steps ul li p#proof_of_income span {
    width: 138px;
  }
  #wrapper #awarded_funds {
    padding: 60px 35px 66px 35px;
  }
  #wrapper #awarded_funds h2 {
    font-size: 26px;
  }
  #wrapper #awarded_funds p {
    font-size: 16px;
    line-height: 24px;
    margin: 17px 0px 34px 0px;
    width: 100%;
  }
  #wrapper #awarded_funds ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 22px;
    width: 100%;
  }
  #wrapper #awarded_funds ul li {
    height: 150px;
    width: 100%;
  }
  #wrapper #awarded_funds ul li img {
    height: 58px;
    left: 23px;
    width: 58px;
  }
  #wrapper #awarded_funds ul li h3,
  #wrapper #awarded_funds ul li span {
    line-height: 22px;
    margin-left: 105px;
  }
  #wrapper #awarded_funds ul li h3 {
    font-size: 18px;
    margin-top: 6px;
    width: 50%;
  }
  #wrapper #awarded_funds ul li span {
    font-size: 16px;
    margin-top: 6px;
    width: 50%;
  }
  #wrapper footer {
    padding: 50px 35px 79px 35px;
  }
  #wrapper footer h2 {
    font-size: 26px;
    line-height: 32px;
    width: 100%;
  }
  #wrapper footer p {
    font-size: 16px;
    margin: 12px 0px 32px 0px;
  }
  #wrapper footer form {
    max-height: 143px;
    text-align: center;
  }
  #wrapper footer form input,
  #wrapper footer form button {
    width: 100%;
  }
  #wrapper footer form button {
    color: white;
    margin: 13px 0px;
  }
}
@media screen and (min-width: 376px) and (max-width: 665px) {
  #wrapper #splash_section {
    height: 555px;
    padding: 0px 33px;
  }
  #wrapper #splash_section .container {
    margin-top: -35px;
    padding: 0px;
  }
  #wrapper #splash_section .container h1 {
    font-size: 42px;
  }
  #wrapper #splash_section .container p#email_address {
    font-size: 18px;
  }
  #wrapper #splash_section .container form button {
    margin: 10px 0px 0px 0px;
    width: 271px;
  }
  #wrapper #qualifying_steps {
    padding: 77px 35px;
  }
  #wrapper #qualifying_steps h2 {
    font-size: 30px;
  }
  #wrapper #qualifying_steps p {
    margin-bottom: 50px;
  }
  #wrapper #qualifying_steps ul {
    column-gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }
  #wrapper #qualifying_steps ul li {
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    width: 300px;
  }
  #wrapper #qualifying_steps ul li img {
    height: 99px;
    margin: auto;
    width: 99px;
  }
  #wrapper #qualifying_steps ul li p {
    font-size: 18px;
    width: 130px;
  }
  #wrapper #qualifying_steps ul li p span {
    display: inline-block;
    font-size: 18px;
    margin-left: -5px;
  }
  #wrapper #qualifying_steps ul li p span::before {
    content: "\A";
    white-space: pre;
  }
  #wrapper #qualifying_steps ul li p#proof_of_income {
    width: 136px;
  }
  #wrapper #qualifying_steps ul li p#proof_of_income span {
    width: 150px;
  }
  #wrapper #awarded_funds {
    padding: 77px 35px;
  }
  #wrapper #awarded_funds h2 {
    font-size: 30px;
  }
  #wrapper #awarded_funds ul {
    flex-wrap: wrap;
    row-gap: 22px;
  }
  #wrapper #awarded_funds ul li {
    align-content: center;
  }
  #wrapper footer h2 {
    font-size: 30px;
  }
  #wrapper footer form {
    display: flex;
    row-gap: 14px;
  }
  #wrapper footer form button {
    margin: 0px;
    width: 271px;
  }
}
@media screen and (min-width: 666px) and (max-width: 900px) {
  #wrapper #splash_section .container {
    padding: 0px 66px;
  }
  #wrapper #qualifying_steps {
    padding: 77px 35px 59px 35px;
  }
  #wrapper #qualifying_steps ul {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 37px;
  }
  #wrapper #awarded_funds {
    padding: 77px 35px 96px 35px;
  }
  #wrapper #awarded_funds ul {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 22px;
  }
}
@media screen and (min-width: 1500px) {
  #wrapper #qualifying_steps p {
    width: 100%;
  }
  #wrapper #awarded_funds ul li {
    width: 500px;
  }
}
