<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animating Your Links to Life </title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div id="container">
        <p>Can you spot the item that doesn't belong?</p>
        <ul>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Ipsum</a></li>
            <li><a href="#">Dolor</a></li>
            <li><a href="#">Sit</a></li>
            <li><a href="#">Bumblebees</a></li>
            <li><a href="#">Aenean</a></li>
            <li><a href="#">Consectetur</a></li>
        </ul>
    </div>
    <div id="sample">
        <h2>Sample</h2>
        <ul>
            <li><a href="#">Copernicus</a></li>
            <li><a href="#">Yoda</a></li>
            <li><a href="#">Mega Man</a></li>
            <li><a href="#">Gandalf</a></li>
            <li><a href="#">Bono</a></li>
        </ul>
    </div>
    <script src="../assets/js/custom/app.js"></script>
</body>
</html>