<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sunnyside agency landing page</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head> 
  <body>
    <div id="wrapper">
      <header>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-icon">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="logo" src="../assets/images/logo.svg" alt="Sunnyside">
        <div class="collapse navbar-collapse" id="menu-icon"></div>
          <ul class="nav navbar-nav navbar-right">   
            <li><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">Services</a></li>
            <li><a href="javascript:void(0)">Projects</a></li>
            <li><a href="javascript:void(0)">Contact</a></li>
          </ul>
      </header>
      <img id="header_half_orange" src="../assets/images/desktop/image-header.jpg" alt="Half Orange">
      <h1>WE ARE CREATIVES</h1>
      
      <section>
        <div id="transform">
          <h2>Transform your brand</h2>
          <p >We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.</p>
          <a href="javascript:void(0)">Learn More</a>
        </div>
        <img src="../assets/images/desktop/image-transform.jpg" alt="Transform">
      </section>

      <section class="collapse">
        <img src="../assets/images/desktop/image-stand-out.jpg" alt="Stand Out">
        <div id="stand_out">
          <h2>Stand out to the right audience</h2>
          <p>Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.</p>
          <a href="javascript:void(0)">Learn More</a>
        </div>
      </section>

      <section class="collapse">
        <div id="graphic_design">
          <img src="../assets/images/desktop/image-graphic-design.jpg" alt="Graphic Design">
          <h2>Graphic Design</h2>
          <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p>         
        </div>
        
        <div id="photography">
          <img src="../assets/images/desktop/image-photography.jpg" alt="Photography">
            <h2>Photography</h2>
            <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
        </div>
      </section>

      <h2 id="client_testimonials">Client Testimonials</h2> 
      
      <section id="testimonials" class="collapse"> 
        <div class="client">
          <img src="../assets/images/image-emily.jpg" alt="Emily R.">
          <p>We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
          <h3>Emily R.</h3>
          <p class="work_position">Marketing Director</p>
        </div>
  
        <div class="client">
          <img src="../assets/images/image-thomas.jpg" alt="Thomas S.">
          <p>Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.</p>
          <h3>Thomas S.</h3>
          <p class="work_position">Chief Operating Officer</p>
        </div>
  
        <div class="client">
          <img src="../assets/images/image-jennie.jpg" alt="Jennie F.">
          <p>Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</p>
          <h3>Jennie F.</h3>
          <p class="work_position">Business Owner</p>
        </div>
      </section>

      <div id="accessory_images">
        <img src="../assets/images/desktop/image-gallery-milkbottles.jpg" alt="Milk Bottles">
        <img src="../assets/images/desktop/image-gallery-orange.jpg" alt="Orange">
        <img src="../assets/images/desktop/image-gallery-cone.jpg" alt="Cone">
        <img src="../assets/images/desktop/image-gallery-sugarcubes.jpg" alt="Sugar Cubes">
      </div>

      <footer>
        <img src="../assets/images/logo.svg" alt="Sunnyside Logo">
        <ul>
          <li><a href="javascript:void(0)">About</a></li>
          <li><a href="javascript:void(0)">Services</a></li>
          <li><a href="javascript:void(0)">Projects</a></li>
        </ul>
        <div class="social_media">
          <ul>
            <li><a href="javascript:void(0)"><img src="../assets/images/icon-facebook.svg" alt="facebook"></a></li>
            <li><a href="javascript:void(0)"><img src="../assets/images/icon-instagram.svg" alt="instagram"></a></li>
            <li><a href="javascript:void(0)"><img src="../assets/images/icon-pinterest.svg" alt="pinterest"></a></li>
            <li><a href="javascript:void(0)"><img src="../assets/images/icon-twitter.svg" alt="twitter"></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>