*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.input {
	display: flex;
    align-items: center;
	margin: 18px;
	max-width: 350px;
	position: relative;
	vertical-align: top;
	width: 100%;
	z-index: 1;
}
.input_field {
    background: #f0f0f0;
    border-radius: 0;
    border: none;
    color: #aaa;
    display: block;
    float: right;
    font-weight: 400;
    padding: 14px;
    position: relative;
    width: 5%;
    &:focus{
        outline: none;
    }
}
.input_label {
    color: #696969;
    display: inline-block;
    float: right;
    font-size: 24px;
    font-weight: bold;
    padding: 0 18px;
    user-select: none;
    width: 100%;
    .input_label-content {
        display: block;
        position: relative;
        width: 100%;
    }
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 500px;
    justify-content: center;
    margin: auto;
    width: 400px;
}

form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    h3{
        margin: 20px 0px 0px;
        width: 100%;
        color: lightgrey;
    }
    .content_name{
        display: flex;
        align-items: center;
        font-size: 24px;
        width: 100%;
        input[type=checkbox], input[type=radio]{
            transform: scale(2);
        }
        .label_checkbox, .label_radio{
            margin: 15px 15px;
        }
    }

    /* Input Search*/
    .search{
        margin-top: 70px;
        width: 100%;
        h2{
            color: lightgrey;
            font-size: 36px;
        }
        .input--search {
            width: 100%;
            background: #fff;
            overflow: hidden;
            margin: 0px;
            .input_field--search {
                background: transparent;
                border: 2px solid lightgrey;
                border-radius: 10px;
                color: #6a7989;
                font-size: 24px;
                height: 69px;
                padding-left: 20px;
                width: 100%;
                &:focus {
                    border: 2px solid #848389;
                    z-index: 1;
                    &+.input_label--search {
                        border: 5px solid lightgrey;
                        border-radius: 10px;
                        .input_label-content--search {
                            opacity: 0;
                            transform: translate3d(100px, 0, 0);
                            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
                        }
                    }
                }
                &:valid {
                    border: 2px solid #848389;
                    z-index: 1;
                    &+.input_label--search {
                        border: 5px solid lightgrey;
                        border-radius: 10px;
                        .input_label-content--search {
                            opacity: 0;
                            transform: translate3d(100px, 0, 0);
                            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
                        }
                        
                    }
                }
            }
        }
        .input_label--search {
            align-items: center;
            color: #D2D2D2;
            display: flex;
            height: 100%;
            pointer-events: none;
            position: absolute;
            text-align: left;
            width: 100%;
        }
        .input_label-content--search {
            display: inline-block;
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            transition: transform 0.3s, opacity 0.3s;
            width: auto;
        }
    }   
}

/* Checkbox */
.checkbox{
    .input--checkbox {
        .input_field--checkbox {
            cursor: pointer;
            &:focus {
                &+.input_label--checkbox {
                    .input_label-content--checkbox {
                        color: #1C89C1;
                    }
                }
            }
            &:valid {
                &+.input_label--checkbox {
                    .input_label-content--checkbox {
                        color: #1C89C1;
                    }
                }
            }
        }
        .input_label--checkbox {
            cursor: pointer;
        }
    }
}
/* Encrypt WSA */
.encrypt_wsa{
    .input--encrypt_wsa {
        .input_field--encrypt_wsa {
            cursor: pointer;
            &:focus {
                &+.input_label--encrypt_wsa {
                    .input_label-content--encrypt_wsa {
                        color: #1C89C1;
                    }
                }
            }
            &:valid {
                &+.input_label--encrypt_wsa {
                    .input_label-content--encrypt_wsa {
                        color: #1C89C1;
                    }
                    
                }
            }
        }
        .input_label--encrypt_wsa {
            cursor: pointer;
        }
    }
}
/* Third Option */
.third_option{
    .input--third_option {
        .input_field--third_option {
            cursor: pointer;
            &:focus {
                &+.input_label--third_option {
                    .input_label-content--third_option {
                        color: #1C89C1;
                    }
                }
            }
            &:valid {
                &+.input_label--third_option {
                    .input_label-content--third_option {
                        color: #1C89C1;
                    }
                }
            }
        }
        .input_label--third_option {
            cursor: pointer;
        }
    }
}

/* Private */
.private{
    .input--private {
        .input_field--private {
            cursor: pointer;
            &:focus {
                &+.input_label--private {
                    .input_label-content--private {
                        color: #1C89C1;
                    }
                }
            }
            &:valid {
                &+.input_label--private {
                    .input_label-content--private {
                        color: #1C89C1;
                    }
                }
            }
        }
        .input_label--private {
            cursor: pointer;
        }
    }
}

/* Public */
.public{
    .input--public {
        .input_field--public {
            cursor: pointer;
            &:focus {
                &+.input_label--public {
                    .input_label-content--public {
                        color: #1C89C1;
                    }
                }
            }
            &:valid {
                &+.input_label--public {
                    .input_label-content--public {
                        color: #1C89C1;
                    }
                }
            }
        }
        .input_label--public {
            cursor: pointer;
        }
    }
}