* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #EEE;
  font-family: Helvetica, Arial, sans-serif;
  padding: 25px;
  margin: 0;
  overflow: auto;
}
body #wrapper #sliding_menu nav ul {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  left: -35px;
  margin-right: 50px;
  padding: 20px;
  position: fixed;
  top: -40px;
  transition: top 1s;
  width: 100%;
}
body #wrapper #sliding_menu nav ul:hover {
  top: 0px;
}
body #wrapper #sliding_menu nav ul li {
  list-style: none;
  padding: 0px 10px;
}
body #wrapper #sliding_menu nav ul li a {
  color: white;
  text-decoration: none;
}
body #wrapper #sliding_menu nav ul li a:hover {
  color: orangered;
}
body #roundButton {
  background-color: #96D9FF;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #0065A6;
  outline: none;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  margin-top: 45px;
}
body #roundButton:active {
  border-color: #003557;
  background-color: #FFF;
}
body #roundButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}
body #flyoutMenu {
  width: 100%;
  height: 100%;
  background-color: #FFE600;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 0.7s cubic-bezier(0, 0.52, 0, 1);
  overflow: hidden;
  z-index: 1000;
}
body #flyoutMenu h2 {
  padding: 10px;
}
body #flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
body #flyoutMenu h2 a:hover {
  text-decoration: underline;
}
body #flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
}
body #container p {
  margin-bottom: 15px;
}
body #container li {
  margin-bottom: 10px;
}
body #container li a {
  text-decoration: none;
  transition: all 0.2s ease-out;
  padding: 5px;
  background: linear-gradient(to bottom, rgba(58, 85, 240, 0) 0%, rgba(58, 85, 240, 0) 50%, #3a55f0 50%, #3a55f0 100%);
  background-repeat: no-repeat;
  background-size: 100% 200%;
}
body #container li a:hover {
  background-position: 0 100%;
}
body #sample li {
  padding: 7px 0px;
}
body #sample li a {
  text-decoration: none;
  transition: all 0.2s ease-out;
}
body #sample li a:hover {
  border-bottom: 4px solid blue;
}
