<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Matchy</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
  
<body>
    <div id="wrapper">
        <div class="matchy_img_container">
            <table id="matchy_table"></table>
        </div>
        
        <button id="matchy_game_btn">Matchy Game</button>
    </div>
    
    <script src="../assets/js/script.js"></script>
    <!-- macthy matchy grid using javascript
    pag load ng page hindi static yung content -->
</body>
</html>
  
