#wrapper {
  background-color: #ECF2F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  letter-spacing: .03px;
  width: 1440px;
}
#wrapper .testimonials_container {
  display: flex;
  flex-wrap: wrap;
}
#wrapper .testimonials_container:first-child {
  width: 74%;
}
#wrapper .testimonials_container:last-child {
  display: block;
  width: 25%;
}
#wrapper .testimonials_container .testimonies {
  border-radius: 10px;
  box-shadow: 40px 60px 50px -47px rgba(178, 197, 228, 0.247);
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
}
#wrapper .testimonials_container .testimonies .details {
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;
}
#wrapper .testimonials_container .testimonies img {
  border-radius: 100%;
  height: 45px;
}
#wrapper .testimonials_container .testimonies#daniel_testimony {
  background-color: #7541c8;
  width: 65%;
  position: relative;
}
#wrapper .testimonials_container .testimonies#daniel_testimony::before {
  background-image: url(../images/bg-pattern-quotation.svg);
  content: "";
  height: 102px;
  right: 125px;
  top: 0px;
  position: absolute;
  width: 104px;
}
#wrapper .testimonials_container .testimonies#daniel_testimony p.quote {
  z-index: 1;
}
#wrapper .testimonials_container .testimonies#jonathan_testimony {
  background-color: #48556a;
  width: 27%;
}
#wrapper .testimonials_container .testimonies#kira_testimony {
  background-color: #ffffff;
  width: 90%;
}
#wrapper .testimonials_container .testimonies#jeanette_testimony {
  background-color: #ffffff;
  width: 27%;
}
#wrapper .testimonials_container .testimonies#patrick_testimony {
  background-color: #19212e;
  width: 65%;
}
#wrapper .testimonials_container .testimonies .quote {
  color: white;
  font-size: 20px;
}
#wrapper .testimonials_container .testimonies .dark_grey {
  color: #48556a;
}
#wrapper .testimonials_container .testimonies .quote_darkgrey {
  color: #48556a;
  font-size: 20px;
}
#wrapper .testimonials_container .testimonies h2 {
  color: #cfcfcf;
  font-size: 14px;
  font-weight: 500;
  margin: 2px;
}
#wrapper .testimonials_container .testimonies span {
  color: white;
  font-size: 13px;
  font-weight: 500;
  opacity: .5;
}
#wrapper .testimonials_container .testimonies .light_grey {
  color: lightGrey;
  margin: 0px;
}
/* for tablet
@media only screen and (min-width: 481px) and (max-width: 850px){
    #wrapper{
        justify-content: center;
        width: 100%;
        .testimonials_container{
            display: flex;
            flex-wrap: wrap;
            &:first-child{
                width: 100%;
            }
            &:last-child{
                display: block;
                width: 100%;
            }
            #daniel_testimony.testimonies{
                position: relative;
                width: auto;
                ::before{
                    position: absolute;
                }
            }
            #jonathan_testimony.testimonies{
                width: 46%;
            }
            #jeanette_testimony.testimonies{
                width: 46%;
            }
            #patrick_testimony.testimonies{
                width: auto;
            }
            #kira_testimony.testimonies{
                width: auto;
            }
        }
    }
}*/
/*for phone with 375px */
@media only screen and (max-width: 375px) {
  #wrapper {
    flex-direction: column;
    width: 100%;
  }
  #wrapper .testimonials_container {
    display: flex;
    flex-wrap: wrap;
  }
  #wrapper .testimonials_container:first-child {
    width: 100%;
  }
  #wrapper .testimonials_container:last-child {
    display: block;
    width: 100%;
  }
  #wrapper .testimonials_container #daniel_testimony.testimonies {
    width: 93%;
  }
  #wrapper .testimonials_container #daniel_testimony.testimonies::before {
    content: "";
    left: 175px;
    top: 0px;
  }
  #wrapper .testimonials_container #jonathan_testimony.testimonies {
    width: 93%;
  }
  #wrapper .testimonials_container #jeanette_testimony.testimonies {
    width: 93%;
  }
  #wrapper .testimonials_container #patrick_testimony.testimonies {
    width: 93%;
  }
  #wrapper .testimonials_container #kira_testimony.testimonies {
    width: 93%;
  }
}
