<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Text Input Effects</title>
		<link rel="stylesheet" href="../assets/css/styles.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
	</head>
	<body>
		<div class="container">
			<section class="content_name manami">
				<h2>Manami</h2>
				<span class="input input--manami">
					<input class="input_field input_field--manami" type="text" id="input_username" required/>
					<label class="input_label input_label--manami" for="input_username">
						<span class="input_label-content input_label-content--manami">Username</span>
					</label>
				</span>
				<span class="input input--manami">
					<input class="input_field input_field--manami" type="text" id="input_website" required/>
					<label class="input_label input_label--manami" for="input_website">
						<span class="input_label-content input_label-content--manami">Website</span>
					</label>
				</span>
				<span class="input input--manami">
					<input class="input_field input_field--manami" type="text" id="input_invitation_code" required/>
					<label class="input_label input_label--manami" for="input_invitation_code">
						<span class="input_label-content input_label-content--manami">Invitation Code</span>
					</label>
				</span>
			</section>

			<section class="content_name chisato">
				<h2>Chisato</h2>
				<span class="input input--chisato">
					<input class="input_field input_field--chisato" type="text" id="input_first_name" required/>
					<label class="input_label input_label--chisato" for="input_first_name">
						<span class="input_label-content input_label-content--chisato" data-content="First Name">First Name</span>
					</label>
				</span>
				<span class="input input--chisato">
					<input class="input_field input_field--chisato" type="text" id="input_middle_name" required/>
					<label class="input_label input_label--chisato" for="input_middle_name">
						<span class="input_label-content input_label-content--chisato" data-content="Middle Name">Middle Name</span>
					</label>
				</span>
				<span class="input input--chisato">
					<input class="input_field input_field--chisato" type="text" id="input_last_name" required/>
					<label class="input_label input_label--chisato" for="input_last_name">
						<span class="input_label-content input_label-content--chisato" data-content="Last Name">Last Name</span>
					</label>
				</span>
			</section>
			
			<section class="content_name fumi">
				<h2>Fumi</h2>
				<span class="input input--fumi">
					<input class="input_field input_field--fumi" type="text" id="input_course_name" required/>
					<label class="input_label input_label--fumi" for="input_course_name">
						<i class="fa fa-fw fa-university icon icon--fumi"></i>
						<span class="input_label-content input_label-content--fumi">Course Name</span>
					</label>
				</span>
				<span class="input input--fumi">
					<input class="input_field input_field--fumi" type="text" id="input_degree" required/>
					<label class="input_label input_label--fumi" for="input_degree">
						<i class="fa fa-fw fa-graduation-cap icon icon--fumi"></i>
						<span class="input_label-content input_label-content--fumi">Degree</span>
					</label>
				</span>
				<span class="input input--fumi">
					<input class="input_field input_field--fumi" type="text" id="input_work_place" required/>
					<label class="input_label input_label--fumi" for="input_work_place">
						<i class="fa fa-fw fa-suitcase icon icon--fumi"></i>
						<span class="input_label-content input_label-content--fumi">Work Place</span>
					</label>
				</span>
			</section>
		</div>
	</body>
</html>
