<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Text Input Effects</title>
		<link rel="stylesheet" href="../assets/css/styles.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
	</head>
	<body>
		<div class="container">
			<section class="content_name manami">
				<h2>Manami</h2>
				<span class="input input_manami">
					<input class="input_field input_field_manami" type="text" id="input_username" required/>
					<label class="input_label input_label_manami" for="input_username">
						<span class="input_label_content input_label_content_manami">Username</span>
					</label>
				</span>
				<span class="input input_manami">
					<input class="input_field input_field_manami" type="text" id="input_website" required/>
					<label class="input_label input_label_manami" for="input_website">
						<span class="input_label_content input_label_content_manami">Website</span>
					</label>
				</span>
				<span class="input input_manami">
					<input class="input_field input_field_manami" type="text" id="input_invitation_code" required/>
					<label class="input_label input_label_manami" for="input_invitation_code">
						<span class="input_label_content input_label-content_manami">Invitation Code</span>
					</label>
				</span>
			</section>

			<section class="content_name chisato">
				<h2>Chisato</h2>
				<span class="input input_chisato">
					<input class="input_field input_field_chisato" type="text" id="input_first_name" required/>
					<label class="input_label input_label_chisato" for="input_first_name">
						<span class="input_label_content input_label_content_chisato" data-content="First Name">First Name</span>
					</label>
				</span>
				<span class="input input_chisato">
					<input class="input_field input_field_chisato" type="text" id="input_middle_name" required/>
					<label class="input_label input_label_chisato" for="input_middle_name">
						<span class="input_label_content input_label_content_chisato" data-content="Middle Name">Middle Name</span>
					</label>
				</span>
				<span class="input input_chisato">
					<input class="input_field input_field_chisato" type="text" id="input_last_name" required/>
					<label class="input_label input_label_chisato" for="input_last_name">
						<span class="input_label_content input_label_content_chisato" data-content="Last Name">Last Name</span>
					</label>
				</span>
			</section>
			
			<section class="content_name fumi">
				<h2>Fumi</h2>
				<span class="input input_fumi">
					<input class="input_field input_field_fumi" type="text" id="input_course_name" required/>
					<label class="input_label input_label_fumi" for="input_course_name">
						<i class="fa fa-fw fa-university icon icon_fumi"></i>
						<span class="input_label_content input_label_content_fumi">Course Name</span>
					</label>
				</span>
				<span class="input input_fumi">
					<input class="input_field input_field_fumi" type="text" id="input_degree" required/>
					<label class="input_label input_label_fumi" for="input_degree">
						<i class="fa fa-fw fa-graduation-cap icon icon_fumi"></i>
						<span class="input_label_content input_label_content_fumi">Degree</span>
					</label>
				</span>
				<span class="input input_fumi">
					<input class="input_field input_field_fumi" type="text" id="input_work_place" required/>
					<label class="input_label input_label_fumi" for="input_work_place">
						<i class="fa fa-fw fa-suitcase icon icon_fumi"></i>
						<span class="input_label_content input_label_content_fumi">Work Place</span>
					</label>
				</span>
			</section>

			<section class="content_name kohana">
				<h2>Kohana</h2>
				<span class="input input_kohana">
					<input class="input_field input_field_kohana" type="text" id="input_time" required/>
					<label class="input_label input_label_kohana" for="input_time">
						<i class="fa fa-fw fa-clock icon fa-lg icon_kohana"></i>
						<span class="input_label_content input_label_content_kohana">Time</span>
					</label>
				</span>
				<span class="input input_kohana">
					<input class="input_field input_field_kohana" type="text" id="input_line" required/>
					<label class="input_label input_label_kohana" for="input_line">
						<i class="fa fa-fw fa-bus icon fa-lg icon_kohana"></i>
						<span class="input_label_content input_label_content_kohana">Line</span>
					</label>
				</span>
				<span class="input input_kohana">
					<input class="input_field input_field_kohana" type="text" id="input_phone" required/>
					<label class="input_label input_label_kohana" for="input_phone">
						<i class="fa fa-fw fa-phone icon fa-lg icon_kohana"></i>
						<span class="input_label_content input_label_content_kohana">Phone</span>
					</label>
				</span>
			</section>

			<section class="content_name ruri">
				<h2>Ruri</h2>
				<span class="input input_ruri">
					<input class="input_field input_field_ruri" type="text" id="input_ruri_username" required/>
					<label class="input_label input_label_ruri" for="input_ruri_username">
						<span class="input_label_content input_label_content_ruri">Username</span>
					</label>
				</span>
				<span class="input input_ruri">
					<input class="input_field input_field_ruri" type="text" id="input_ruri_website" required/>
					<label class="input_label input_label_ruri" for="input_ruri_website">
						<span class="input_label_content input_label_content_ruri">Website</span>
					</label>
				</span>
				<span class="input input_ruri">
					<input class="input_field input_field_ruri" type="text" id="input_ruri_invitation_code" required/>
					<label class="input_label input_label_ruri" for="input_ruri_invitation_code">
						<span class="input_label_content input_label_content_ruri">Invitation Code</span>
					</label>
				</span>
			</section>
		</div>
	</body>
</html>
