@keyframes anim-1 {
  50% {
    opacity: 0;
    transform: translate3d(16px, 0, 0);
  }
  51% {
    opacity: 0;
    transform: translate3d(-16px, -40%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, -40%, 0);
  }
}
* {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
body {
  background: #f9f7f6;
  color: #404d5b;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}
.dragon_container {
  font-size: 150%;
  padding: 48px 0;
}
.dragon_container h2 {
  margin: 0 0 2px;
  opacity: 0.1;
}
.input {
  display: inline-block;
  margin: 18px;
  max-width: 350px;
  position: relative;
  vertical-align: top;
  width: calc(64%);
  z-index: 1;
}
.input_field {
  background: #f0f0f0;
  border-radius: 0;
  border: none;
  color: #aaa;
  display: block;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0.8em;
  position: relative;
  width: 60%;
}
.input_field:focus {
  outline: none;
}
.input_label {
  color: #6a7989;
  display: inline-block;
  float: right;
  font-size: 70.25%;
  font-weight: bold;
  padding: 0 1em;
  user-select: none;
  width: 40%;
}
.input_label_content {
  display: block;
  padding: 1.6em 0;
  position: relative;
  width: 100%;
}
.graphic {
  fill: none;
  left: 0;
  position: absolute;
  top: 0;
}
.icon {
  color: #ddd;
  font-size: 150%;
}
/* Hideo */
.input--hideo {
  background: #fff;
  overflow: hidden;
}
.input--hideo .input_field--hideo {
  background: transparent;
  font-size: 26px;
  height: 70px;
  padding: 14px 14px 14px 64px;
  transform: translate3d(16px, 0, 0);
  transition: transform 0.3s;
  width: 100%;
}
.input--hideo .input_field--hideo:focus {
  transform: translate3d(0, 0, 0);
}
.input--hideo .input_field--hideo:focus + .input_label--hideo::before {
  transform: scale3d(0.8, 1, 1);
}
.input--hideo .input_field--hideo:focus + .input_label--hideo .icon--hideo {
  transform: scale3d(0.6, 0.6, 1);
}
.input--hideo .input_label--hideo {
  height: 100%;
  padding: 20px 0 0;
  position: absolute;
  width: 70px;
}
.input--hideo .input_label--hideo::before {
  background: #899dda;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0% 50%;
  transition: transform 0.3s;
  width: 70px;
  z-index: -1;
}
.input--hideo .icon--hideo {
  color: #fff;
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
}
.input--hideo .input_label_content--hideo {
  position: absolute;
  top: 100%;
}
/* Juro */
.juro {
  background-color: #2fa8ec;
}
.juro .input--juro {
  overflow: hidden;
  height: 50px;
}
.juro .input--juro .input_field_juro {
  background: transparent;
  color: #1784cd;
  font-size: 14px;
  padding: 22px 16px 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.juro .input--juro .input_field_juro:focus + .input_label_juro::before {
  border-width: 8px;
  border-color: #1784cd;
  border-top-width: 18px;
}
.juro .input--juro .input_field_juro:focus + .input_label_juro .input_label_content_juro {
  color: #fff;
  transform: translate3d(0, -16px, 0) scale3d(0.75, 0.75, 1);
}
.juro .input--juro .input_field_juro:valid + .input_label_juro::before {
  border-width: 8px;
  border-color: #1784cd;
  border-top-width: 18px;
}
.juro .input--juro .input_field_juro:valid + .input_label_juro .input_label_content_juro {
  color: #fff;
  transform: translate3d(0, -16px, 0) scale3d(0.75, 0.75, 1);
}
.juro .input--juro .input_label_juro {
  background: #fff;
  height: 100%;
  padding: 0;
  font-size: 18px;
  text-align: left;
  width: 100%;
}
.juro .input--juro .input_label_juro::before {
  border: 0px solid transparent;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-width 0.3s, border-color 0.3s;
  width: 100%;
}
.juro .input--juro .input_label_content_juro {
  padding: 15px 22px;
  transform-origin: 0% 50%;
  transition: transform 0.3s, color 0.3s;
}
/* Haruki */
.haruki {
  background-color: #f0efee;
  padding: 50px;
}
.haruki .input_haruki {
  margin: 57px 16px 16px;
  height: 24px;
}
.haruki .input_haruki .input_field_haruki {
  background: transparent;
  color: #AFB5BB;
  font-size: 24px;
  padding: 5px 20px;
  width: 100%;
}
.haruki .input_haruki .input_field_haruki:focus + .input_label_haruki .input_label_content_haruki {
  transform: translate3d(0, -100%, 0);
}
.haruki .input_haruki .input_field_haruki:focus + .input_label_haruki::before {
  transform: translate3d(0, -4px, 0);
}
.haruki .input_haruki .input_field_haruki:focus + .input_label_haruki::after {
  transform: translate3d(0, 4px, 0);
}
.haruki .input_haruki .input_field_haruki:valid + .input_label_haruki .input_label_content_haruki {
  transform: translate3d(0, -100%, 0);
}
.haruki .input_haruki .input_field_haruki:valid + .input_label_haruki::before {
  transform: translate3d(0, -4px, 0);
}
.haruki .input_haruki .input_field_haruki:valid + .input_label_haruki::after {
  transform: translate3d(0, 0, 0);
}
.haruki .input_haruki .input_label_haruki {
  pointer-events: none;
  position: absolute;
  text-align: left;
  width: 100%;
}
.haruki .input_haruki .input_label_haruki::before {
  background: #6a7989;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: -4px;
  transition: transform 0.3s;
  width: 100%;
  z-index: -1;
}
.haruki .input_haruki .input_label_haruki::after {
  background: #6a7989;
  bottom: -4px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  transition: transform 0.3s;
  width: 100%;
  z-index: -1;
}
.haruki .input_haruki .input_label_content_haruki {
  padding: 8px 0;
  transition: transform 0.3s;
}
.haruki .input_haruki .input--filled .input_label_content_haruki {
  transform: translate3d(0, -90%, 0);
}
.haruki .input_haruki .input--filled .input_label_haruki::before {
  transform: translate3d(0, -4px, 0);
}
.haruki .input_haruki .input--filled .input_label_haruki::after {
  transform: translate3d(0, 4px, 0);
}
/* Hoshi */
.input--hoshi {
  overflow: hidden;
}
.input--hoshi .input_field--hoshi {
  background: transparent;
  color: #595F6E;
  font-size: 26px;
  margin-top: 10px;
  padding: 20px 6px;
  width: 100%;
}
.input--hoshi .input_field--hoshi:focus ~ .input_label--hoshi::after {
  transform: translate3d(0, 0, 0);
}
.input--hoshi .input_field--hoshi:focus ~ .input_label--hoshi .input_label_content--hoshi {
  animation: anim-1 0.3s forwards;
}
.input--hoshi .input_field--hoshi:valid + .input_label--hoshi::after {
  transform: translate3d(0, 0, 0);
}
.input--hoshi .input_field--hoshi:valid + .input_label--hoshi .input_label_content--hoshi {
  animation: anim-1 0.3s forwards;
}
.input--hoshi .input_label--hoshi {
  bottom: 50;
  height: calc(96%);
  left: 0;
  padding: 0 4px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  width: 100%;
}
.input--hoshi .input_label--hoshi::before {
  border-bottom: 1px solid #B9C1CA;
  content: '';
  height: calc(90%);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.input--hoshi .input_label--hoshi::after {
  border-bottom: 1px solid #B9C1CA;
  border-bottom: 4px solid red;
  content: '';
  height: calc(90%);
  left: 0;
  margin-top: 2px;
  position: absolute;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s;
  width: 100%;
}
.input--hoshi .input_label_content--hoshi {
  position: absolute;
}
.input--hoshi .input_label--hoshi-color-blue::after {
  border-color: blue;
}
.input--hoshi .input_label--hoshi-color-green::after {
  border-color: lightgreen;
}
.input--hoshi .input_label--hoshi-color-orange::after {
  border-color: orangered;
}
.input--hoshi .input--filled .input_label--hoshi::after {
  transform: translate3d(0, 0, 0);
}
.input--hoshi .input--filled .input_label_content--hoshi {
  animation: anim-1 0.3s forwards;
}
/* Madoka */
.madoka {
  background-color: #2f3238;
  color: #fff;
}
.madoka .input_madoka {
  margin: 1.1em;
}
.madoka .input_madoka .input_field_madoka {
  background: transparent;
  color: #7A7593;
  font-size: 26px;
  width: 100%;
}
.madoka .input_madoka .input_field_madoka:focus + .input_label_madoka {
  cursor: default;
  pointer-events: none;
}
.madoka .input_madoka .input_field_madoka:focus + .input_label_madoka .graphic_madoka {
  stroke-dashoffset: 0;
}
.madoka .input_madoka .input_field_madoka:focus + .input_label_madoka .input_label_content_madoka {
  margin-top: -10px;
  transform: scale3d(0.81, 0.81, 1) translate3d(0, 72px, 0);
}
.madoka .input_madoka .input_field_madoka:valid + .input_label_madoka {
  cursor: default;
  pointer-events: none;
}
.madoka .input_madoka .input_field_madoka:valid + .input_label_madoka .graphic_madoka {
  stroke-dashoffset: 0;
}
.madoka .input_madoka .input_field_madoka:valid + .input_label_madoka .input_label_content_madoka {
  margin-top: -10px;
  transform: scale3d(0.81, 0.81, 1) translate3d(0, 72px, 0);
}
.madoka .input_madoka .input_label_madoka {
  color: #7A7593;
  cursor: text;
  height: 100%;
  position: absolute;
  text-align: left;
  width: 100%;
}
.madoka .input_label_content_madoka {
  transform-origin: 0% 50%;
  transition: transform 0.3s;
}
.madoka .graphic_madoka {
  pointer-events: none;
  stroke-dasharray: 962;
  stroke-dashoffset: 558;
  stroke-width: 4px;
  stroke: #7A7593;
  transform: scale3d(1, -1, 1);
  transition: stroke-dashoffset 0.3s;
}
.madoka .input--filled .input_label_madoka {
  cursor: default;
  pointer-events: none;
}
.madoka .input--filled .graphic_madoka {
  stroke-dashoffset: 0;
}
.madoka .input--filled .input_label_content_madoka {
  margin-top: -30px;
  transform: scale3d(0.81, 0.81, 1) translate3d(0, 72px, 0);
}
