<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Effect</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <ul>
            <li class="container_cards active">
                <img src="../assets/img/image_1.jpg" alt="Boy">
                <div class="person_details">
                    <h1>Marc Newman</h1>
                    <h4>Father</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque. Gravida quis blandit turpis cursus in hac habitasse platea dictumst.</p>
                </div>
            </li>
            <li class="container_cards">
                <img src="../assets/img/image_2.jpg" alt="Girl">
                <div class="person_details">
                    <h1>Letitia Clark</h1>
                    <h4>Mother</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque. Gravida quis blandit turpis cursus in hac habitasse platea dictumst.</p>
                </div>
            </li>
            <li class="container_cards">
                <img src="../assets/img/Image_3.jpg" alt="Girl">
                <div class="person_details">
                    <h1>Aubree Lambert</h1>
                    <h4>Daughter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque. Gravida quis blandit turpis cursus in hac habitasse platea dictumst.</p>
                </div>
            </li>
            <li class="container_cards">
                <img src="../assets/img/Image_4.jpg" alt="Boy">
                <div class="person_details">
                    <h1>Gabe Soto</h1>
                    <h4>Son</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque. Gravida quis blandit turpis cursus in hac habitasse platea dictumst.</p>
                </div>
            </li>
        </ul>

        <footer class="action_btn">
            <input class="btn" type="button" id="previous" value="< Previous">
            <input class="btn" type="button" id="next" value="Next >">
        </footer>
    </div>
    <script src="../assets/js/custom/app.js"></script>
</body>
</html>