<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UX Elements</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <form>
        <span class="input email">
            <input type="text" id="email" class="input_email" autocomplete="off" required/>
            <label for="email" class="label_email">Email</label>
        </span>
        
        <span class="input password">
            <input type="password" id="password" class="input_password" autocomplete="off" required/>
            <label for="password" class="label_password">Password</label>
        </span>

        <button type="submit">Sign In</button>  
    </form>
</body>
</html>